<div class="form_row">
  <div class="column-left">
    <span><%= socialicon.name %></span>
  </div>
  <div class="column-right">
    <%= form_for ([:admin, socialicon]) do |f| %>
        <%= f.label 'ссылка:' %>&nbsp;<%= f.text_field :iconlink %>
        <%= f.submit 'CОХРАНИТЬ', :class => 'round_button' %>
    <% end %>
  </div>
</div>

