<div class="page">
  <div class="page_box">
    <div class="content">
      <div class="delivery_page">
        <h1>СПИСОК ИЗМЕНЕНИЙ</h1><br>
        <table>
          <thead>
          <tr>
            <th>Name</th>
            <th>Description</th>
            <th colspan="3"></th>
          </tr>
          </thead>

          <tbody>
          <% @versus.each do |versu| %>
              <tr>
                <td><%= versu.name %></td>
                <td><%= versu.description %></td>
                <td><%= link_to 'Show', versu %></td>
                <td><%= link_to 'Edit', edit_versu_path(versu) %></td>
                <td><%= link_to 'Destroy', versu, method: :delete, data: { confirm: 'Are you sure?' } %></td>
              </tr>
          <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>