<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @versu.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @versu.description %>
</p>

<%= link_to 'Edit', edit_versu_path(@versu) %> |
<%= link_to 'Back', versus_path %>
