<p id="notice"><%= notice %></p>

<h1>Listing Bookpages</h1>

<table>
  <thead>
    <tr>
      <th>Pagenum</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @bookpages.each do |bookpage| %>
      <tr>
        <td><%= bookpage.pagenum %></td>
        <td><%= link_to 'Show', bookpage %></td>
        <td><%= link_to 'Edit', edit_bookpage_path(bookpage) %></td>
        <td><%= link_to 'Destroy', bookpage, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Bookpage', new_bookpage_path %>
