<h2>ФОН:</h2>
<div style="">
  <div class="admin_phgallery">
    <% @background.images.each_with_index do |image, index| %>
        <div class="imgbox">
          <%= image_tag image.thumb.url%>
          <%= link_to admin_phgallery_image_path(@background, index), :class => 'delete', :method => :delete, data: {confirm: 'Вы действительно хотите удалить?'} do %>
              <%= image_tag 'delete.jpg'%>
          <% end %>
        </div>
    <% end %>
  </div>
  <div class="add_photo_button">
    <label id="trigger-modal_background">
      ДОБАВИТЬ ФОТОГРАФИИ
    </label>
  </div>
  <div id="screen_background" class="screen"></div>
  <div id="modal_background" class="modal">
    <%= render partial: '/image_upload_modal', locals: {form_for_model: [:admin, @background],
                                                        url: admin_phgallery_images_path(@background),
                                                        gallery_type: 'background'} %>
  </div>
</div>
<hr>
<h2>ФОТОГРАФИИ НА ГЛАВНОЙ СТРАНИЦЕ:</h2>
<div class="admin_phgallery">
  <% @phgallery.images.each_with_index do |image, index| %>
      <div class="imgbox">
        <%= image_tag image.thumb.url%>
        <%= link_to admin_phgallery_image_path(@phgallery, index), :class => 'delete', :method => :delete, data: {confirm: 'Вы действительно хотите удалить?'} do %>
            <%= image_tag 'delete.jpg'%>
        <% end %>
      </div>
  <% end %>
</div>
<div class="add_photo_button">
  <label id="trigger-modal_phgallery">
    ДОБАВИТЬ ФОТОГРАФИИ
  </label>
</div>
<div id="screen_phgallery" class="screen"></div>
<div id="modal_phgallery" class="modal">
  <%= render partial: '/image_upload_modal', locals: {form_for_model: [:admin, @phgallery],
                                                      url: admin_phgallery_images_path(@phgallery),
                                                      gallery_type: 'phgallery'} %>
</div>