<div class="admin_phgallery">
  <% @phgallery.images.each_with_index do |image, index| %>
      <div class="imgbox">
        <%= image_tag image.url%>
        <%= link_to admin_phgallery_image_path(@phgallery, index), :class => "delete" , :method => :delete, data: { confirm: "Вы действительно хотите удалить?" } do %>
            <%= image_tag 'delete.jpg'%>
        <% end %>
      </div>
  <% end %>
</div>
<div class="torton-addphoto-button">
  <%= form_for [:admin, @phgallery], url: admin_phgallery_images_path(@phgallery), method: :post do |f| %>
      <label>
        ДОБАВИТЬ ФОТОГРАФИИ
        <span>
          <%= f.file_field :image, required: true, multiple: true, accept: "image/jpeg, image/jpg image/png", :onchange =>
              "$(this).parents('form').submit();"  %>
        </span>
      </label>
  <% end %>
</div>