<div>
  <h3>ВАРИАНТЫ ДОСТАВКИ:</h3>
  <table class="table">
    <tbody>
    <% @deliveries.each do |delivery| %>
        <tr>
          <td>
            <%= form_for(delivery) do |f| %>
                <%= f.label 'НАЗВАНИЕ:' %>
                <%= f.text_field :name %>
                <%= f.label 'СТОИМОСТЬ(руб)' %>
                <%= f.number_field :price %>
                <%= f.submit 'СОХРАНИТЬ', :class => 'button-xs' %>
                <% if @deliveries.count > 1 %>
                    <%= link_to("УДАЛИТЬ ПОЗИЦИЮ", delivery_path(delivery), :data => { :confirm => "ВЫ УВЕРЕНЫ?" }, :method => :delete, :class => 'button-xs' ) %>
                <% end %>
            <% end %>
          </td>
        </tr>
    <% end %>
    </tbody>
  </table>
  <h3>ДОБАВИТЬ ДОСТАВКУ</h3>
  <table class="table">
    <tbody>
    <tr>
      <td>
        <%= form_for(@delivery) do |f| %>
            <%= f.label 'НАЗВАНИЕ:' %>
            <%= f.text_field :name %>
            <%= f.label 'СТОИМОСТЬ(руб)' %>
            <%= f.number_field :price %>
            <%= f.submit 'ДОБАВИТЬ ДОСТАВКУ', :class => 'button-xs' %>
        <% end %>
      </td>
    </tr>
    </tbody>
  </table>
</div>