<div>
  <h3>ССЫЛКИ НА СОЦИАЛЬНЫЕ СЕТИ</h3>
  <table class="table">
    <tbody>
    <% @socialicons.each do |socialicon| %>
        <tr>
          <td>
            <%= socialicon.name %>
          </td>
          <td>
            <%= form_for(socialicon) do |f| %>
                <%= f.label 'http://' %>
                <%= f.text_field :iconlink %>
                <%= f.submit 'СОХРАНИТЬ', :class => 'button-xs' %>
            <% end %>
          </td>
        </tr>
    <% end %>
    </tbody>
  </table>
</div>