<%= form_for ([:admin, bookprice]) do |f| %>
    <tr>
      <td class="tg-yw4l"><%= bookprice.format %></td>
      <td class="tg-yw4l"><%= select_tag :status, options_for_select(['АКТИВЕН','НЕАКТИВЕН'], bookprice.status) %></td>
      <td class="tg-yw4l"><%= select_tag :default, options_for_select(['ПО УМОЛЧАНИЮ','НЕТ'], bookprice.default) %></td>
      <td class="tg-yw4l"><%= f.number_field :minpagescount %></td>
      <td class="tg-yw4l"><%= f.number_field :maxpagescount %></td>
      <td class="tg-yw4l"><%= f.number_field :coverprice %></td>
      <td class="tg-yw4l"><%= f.number_field :twopageprice %></td>
      <td class="tg-yw4l"><%= f.number_field :coverwidth %></td>
      <td class="tg-yw4l"><%= f.number_field :coverheight %></td>
      <td class="tg-yw4l"><%= f.number_field :twopagewidth %></td>
      <td class="tg-yw4l"><%= f.number_field :twopageheight %></td>
      <td class="tg-yw4l"><%= f.submit 'СОХРАНИТЬ', :class => 'button-xs' %></td>
    </tr>
<% end %>
