<div class="authform">
  <%= form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put, :role => 'form'}) do |f| %>
    <h3>НАСТРОЙКИ</h3>
    <% devise_error_messages! %>
    <div class="form-group">
      <%= f.label 'ИМЯ ПОЛЬЗОВАТЕЛЯ' %>
      <%= f.text_field :name, :autofocus => true, class: 'form-control' %>
    </div>
    <div class="form-group">
      <%= f.label 'E-mail' %>
      <%= f.email_field :email, class: 'form-control' %>
      <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
        <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
      <% end %>
    </div>
    <fieldset>
      <p>ОСТАВЬТЕ ПОЛЯ ПУСТЫМИ ЕСЛИ НЕ СОБИРАЕТЕСЬ МЕНЯТЬ ПАРОЛЬ.</p>
      <div class="form-group">
        <%= f.label 'НОВЫЙ ПАРОЛЬ' %>
        <%= f.password_field :password, :autocomplete => 'off', class: 'form-control' %>
      </div>
      <div class="form-group">
        <%= f.label 'ПОДТВЕРДИТЕ НОВЫЙ ПАРОЛЬ' %>
        <%= f.password_field :password_confirmation, class: 'form-control' %>
      </div>
    </fieldset>
    <fieldset>
      <p>ВЫ ДОЛЖНЫ ВВЕСТИ ТЕКУЩИЙ ПАРОЛЬ, ЧТОБЫ СОХРАНИТЬ ИЗМЕНЕНИЯ.</p>
      <div class="form-group">
        <%= f.label 'ТЕКУЩИЙ ПАРОЛЬ' %>
        <%= f.password_field :current_password, class: 'form-control' %>
      </div>
    </fieldset>
      <div style="width: 100%; text-align: center">
        <%= f.submit 'CОХРАНИТЬ', :class => 'button' %>
      </div>
  <% end %>
  <div class="userdelete">
    <fieldset>
      <h3>УДАЛЕНИЕ АККАУНТА</h3>
      <p>ЧТО-ТО НЕ ПОНРАВИЛОСЬ?<br> ЕСЛИ ВАМ БУДЕТ НУЖНА ФОТОКНИГА, МЫ БУДЕМ РАДЫ НОВОЙ ВСТРЕЧИ.</p>
      <%= link_to "УДАЛИТЬСЯ", registration_path(resource_name), :data => { :confirm => "Вы уверены?" }, :method => :delete, :class => 'button' %>
    </fieldset>
  </div>
</div>
<style>
  main {
    background: white;
  }
  body {
    min-height: 100vh;
    font-family: 'PT Sans';
  }
  .authform {
    padding-top: 0;
    max-width: 30%;
    position: relative;
    top: 48%;
    transform: translate(0%, -50%);
  }
  .authform form {
    box-shadow: 0 0 18px rgba(0, 0, 0, 0.2);
    padding: 5%;
    background: rgba(255, 255, 255, 0.6);;
    border: 1px solid #71C8C9;
  }
  .well, .authform form, .authform fieldset {
    margin-bottom: 1vw;
    padding: 5% 5% 0 5%;
    background: rgba(255, 255, 255, 0.2);
    border: 1px solid #71C8C9;
  }
  .userdelete {
    box-shadow: 0 0 18px rgba(0, 0, 0, 0.2);
    margin-top: 5%;
    margin-bottom: 5%;
  }
  .userdelete fieldset {
    text-align: center;
  }
  p {
    font-size: 0.7vw;
  }
  h3 {
    margin: 3%;
    font-size: 1.2vw;
    text-align: center;
  }
  label {
    font-size: 0.75vw;
  }
  .form-group {
    margin-bottom: 5%;
  }
  .authform .button {
    padding: 0.4vw 0.8vw;
    font-size: 0.7vw;
    color: #fff;
    background-color: #71C8C6;
    border-color: #71C8C6;
    margin-bottom: 5%;
  }
  .authform .button:hover,.authform .button:focus,.authform .button:active {
    background-color: rgba(54, 150, 150, 0.7);
    border-color: rgba(54, 150, 150, 0.7);
  }
  .form-control {
    height: 1.5vw;
    padding: 0.4vw 0.8vw;
    font-size: 0.7vw;
    background-color: rgba(255, 255, 255, 0.44);
    background-image: none;
    border: 1px solid rgb(113, 200, 198);
  }
   .form-control:hover, .form-control:focus{
    background-color: rgba(255, 255, 255, 0.8);
    background-image: none;
    border: 1px solid rgb(113, 200, 198);
  }
</style>