<div class="auth_page">
  <div class="authform">
    <%= form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put, :role => 'form'}) do |f| %>
        <h1>НАСТРОЙКИ</h1>
        <% devise_error_messages! %>
        <div style="float: left; width: 48%;">
          <div class="form-group">
            <%= f.label 'ИМЯ ПОЛЬЗОВАТЕЛЯ' %>
            <%= f.text_field :name, :autofocus => true, class: 'form-control' %>
          </div>
        </div>
        <div style="float: right; width: 48%;">
          <div class="form-group">
            <%= f.label 'E-mail' %>
            <%= f.email_field :email, class: 'form-control' %>
            <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
                <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
            <% end %>
          </div>
        </div>
        <div style="float: left; width: 48%;">
          <div class="form-group">
            <%= f.label 'НОВЫЙ ПАРОЛЬ' %>
            <%= f.password_field :password, :autocomplete => 'off', class: 'form-control' %>
          </div>
        </div>
        <div style="float: right; width: 48%;">
          <div class="form-group">
            <%= f.label 'ПОВТОРИТЕ ПАРОЛЬ' %>
            <%= f.password_field :password_confirmation, class: 'form-control' %>
          </div>
        </div>
        <p style="text-align: center;">*ОСТАВЬТЕ ПОЛЯ ПУСТЫМИ ЕСЛИ НЕ СОБИРАЕТЕСЬ МЕНЯТЬ ПАРОЛЬ.</p>
        <div style="margin: auto; width: 50%;">
          <div class="form-group">
            <%= f.label 'ТЕКУЩИЙ ПАРОЛЬ', title: "ВЫ ДОЛЖНЫ ВВЕСТИ ТЕКУЩИЙ ПАРОЛЬ, ЧТОБЫ СОХРАНИТЬ ИЗМЕНЕНИЯ." %>
            <%= f.password_field :current_password, class: 'form-control', title: "ВЫ ДОЛЖНЫ ВВЕСТИ ТЕКУЩИЙ ПАРОЛЬ, ЧТОБЫ СОХРАНИТЬ ИЗМЕНЕНИЯ." %>
          </div>
        </div>
        <div style="width: 100%; text-align: center">
          <%= f.submit 'CОХРАНИТЬ', :class => 'button' %>
        </div>
    <% end %>
    <div class="userdelete">
      <fieldset>
        <h3>УДАЛЕНИЕ АККАУНТА</h3>
        <p>ЧТО-ТО НЕ ПОНРАВИЛОСЬ?<br> ЕСЛИ ВАМ БУДЕТ НУЖНА ФОТОКНИГА, МЫ БУДЕМ РАДЫ НОВОЙ ВСТРЕЧИ.</p>
        <%= link_to "УДАЛИТЬСЯ", registration_path(resource_name), :data => { :confirm => "Вы уверены?" }, :method => :delete, :class => 'button' %>
      </fieldset>
    </div>
  </div>
</div>