<div class="auth_page">
  <div class="authform">
    <%= form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :role => 'form'}) do |f| %>
        <h1>РЕГИСТРАЦИЯ</h1>
        <%= devise_error_messages! %><br>
        <div class="form-group">
          <%= f.label 'ИМЯ' %>
          <%= f.text_field :name, :autofocus => true, class: 'form-control' %>
        </div>
        <div class="form-group">
          <%= f.label 'E-MAIL' %>
          <%= f.email_field :email, class: 'form-control' %>
        </div>
        <div class="form-group">
          <%= f.label 'ПАРОЛЬ' %>
          <% if @minimum_password_length %>
          <% end %>
          <%= f.password_field :password, autocomplete: "off", class: 'form-control' %>
        </div>
        <div class="form-group">
          <%= f.label 'ПОВТОРИТЕ ПАРОЛЬ' %>
          <%= f.password_field :password_confirmation, autocomplete: "off", class: 'form-control' %>
        </div>
        <%= f.submit 'ЗАРЕГИСТРИРОВАТЬСЯ', :class => 'button right' %>
    <% end %>
  </div>
</div>