<div class="partner">
  <div class="imgbox">
    <% if partner.link.blank? %>
        <%= image_tag partner.attachment.url, alt: partner.name, title: partner.name %><br>
    <% else %>
        <%= link_to partner.link do %>
            <%= image_tag partner.attachment.url, alt: partner.name, title: partner.name %>
        <% end %><br>
    <% end %>
    <%= link_to('ИЗМЕНИТЬ', edit_admin_partner_path(partner), :class => 'round_button') %>
    <%= link_to('УДАЛИТЬ', admin_partner_path(partner), :data => {:confirm => 'Вы уверены?'}, :method => :delete, :class => 'round_button') %>
  </div>
</div>