<div class="page_box">
  <div class="admin_content">
    <%= render 'admin/navigate_tabs' %>
    <h2>Доставка:</h2>
    <table>
      <thead>
      <tr>
        <th>Name</th>
        <th>Price</th>
        <th colspan="3"></th>
      </tr>
      </thead>

      <tbody>
      <% @deliveries.each do |delivery| %>
          <tr>
            <td><%= delivery.name %></td>
            <td><%= delivery.price %></td>
            <td><%= link_to 'Show', admin_delivery_path(delivery) %></td>
            <td><%= link_to 'Edit', edit_admin_delivery_path(delivery) %></td>
            <td><%= link_to 'Destroy', admin_delivery_path(delivery), method: :delete, data: { confirm: 'Are you sure?' } %></td>
          </tr>
      <% end %>
      </tbody>
    </table>
    <% flash.each do |key, value| %>
        <div class="alert alert-<%= key %>"><%= value %></div>
    <% end %>
    <div style="width: 100%;float: left;text-align: center;">
      <%= link_to 'Новая Доставка', new_admin_delivery_path, class: 'round_button' %>
    </div>
  </div>
</div>