<%= form_for(@sitepage) do |f| %>
  <% if @sitepage.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@sitepage.errors.count, "error") %> prohibited this sitepage from being saved:</h2>

      <ul>
      <% @sitepage.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :text %><br>
    <%= f.text_field :text %>
  </div>
  <div class="field">
    <%= f.label :question %><br>
    <%= f.text_field :question %>
  </div>
  <div class="field">
    <%= f.label :answer %><br>
    <%= f.text_field :answer %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
