<div class="auth_page">
  <div class="authform">
    <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f| %>
        <%= devise_error_messages! %>
        <%= f.hidden_field :reset_password_token %>
        <h3>УКАЖИТЕ НОВЫЙ ПАРОЛЬ</h3><br>
        <div class="form-group">
          <%= f.label :password, "НОВЫЙ ПАРОЛЬ" %>
          <% if @minimum_password_length %>
              <em>(минимум <%= @minimum_password_length %> символов)</em>
          <% end %>
          <%= f.password_field :password, autofocus: true, autocomplete: "off" %>
        </div>
        <div class="form-group">
          <%= f.label :password_confirmation, "ПОВТОРИТЕ НОВЫЙ ПАРОЛЬ" %><br />
          <%= f.password_field :password_confirmation, autocomplete: "off" %>
        </div>
        <%= f.submit 'ИЗМЕНИТЬ ПАРОЛЬ', :class => 'button right' %>
    <% end %>
  </div>
</div>