<%= form_for(@socialicon) do |f| %>
  <% if @socialicon.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@socialicon.errors.count, "error") %> prohibited this socialicon from being saved:</h2>

      <ul>
      <% @socialicon.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :iconlink %><br>
    <%= f.text_field :iconlink %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
