<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @socialicon.name %>
</p>

<p>
  <strong>Iconlink:</strong>
  <%= @socialicon.iconlink %>
</p>

<%= link_to 'Edit', edit_socialicon_path(@socialicon) %> |
<%= link_to 'Back', socialicons_path %>
