<p id="notice"><%= notice %></p>

<h1>Listing Phgalleries</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @phgalleries.each do |phgallery| %>
      <tr>
        <td><%= link_to 'Show', phgallery %></td>
        <td><%= link_to 'Edit', edit_phgallery_path(phgallery) %></td>
        <td><%= link_to 'Destroy', phgallery, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Phgallery', new_phgallery_path %>
