<div class="test">
  <div id="data" style="visibility: hidden">

    <div class="order_about">
      <div class="order_about_box">
        <div class="order_about_book_cover" style="background-color: <%= @book.bookpages[0].bgcolor %>">
          <% @id = 0 %>
          <%= render partial: 'books/templates/cover_temp_' + @book.bookpages.order(:id).first.template.to_s,
                     locals: {bookpage: @book.bookpages.order(:id).first} %>
        </div>
        <div>
          <div class="text_photobook">
            ФОТОКНИГА <br>
            С ВАШИМИ ФОТОГРАФИЯМИ И ДИЗАЙНОМ
          </div>
          <%= form_for(@book) do |f| %>
              <div class="order_about_book_about">
                <label>ФОРМАТ: </label>
                <% @selectvalues = []  %>
                <% @bookprices.each do |format| %>
                    <% @selectvalues << format.format %>
                <% end %>
                <%= select_tag :bookprice, options_for_select(@selectvalues, @book.bookprice.format),
                               :onchange => "this.form.submit();", :style => 'border: none; background: none;' %><br>
                <span><%= @book.bookpages.count - 1 %> страниц, <%= (@book.bookpages.count - 1)/2 %> разворотов</span>
              </div>
          <% end %>
        </div>
      </div>
    </div>
    <div class="order_form">
      <div class="order_form_box">
        <h1>ОФОРМЛЕНИЕ ЗАКАЗА</h1>
        <%= form_for(@order) do |f| %>
            <% if @order.errors.any? %>
                <ul>
                  <% @order.errors.full_messages.each do |msg| %>
                      <li><%= msg %></li>
                  <% end %>
                </ul>
            <% end %>
            <%= f.hidden_field :name %>
            <%= f.hidden_field :book_id, value: @book.id %>
            <%= f.hidden_field :bookscount, value: 1 %>
            <div class="field">
              <%= f.text_field :fio, placeholder: 'Как к вам обращаться?(Ф.И.О.)*' %>
              <%= f.phone_field :phone, placeholder: 'Ваш номер телефона (+7 123 4567890)*' %>

              <% f.number_field :zipcode, placeholder: 'Почтовый индекс' %>
              <% f.text_field :city, placeholder: 'Город' %>

              <%= f.email_field :email, value: current_user.email, placeholder: 'E-mail адрес*' %>
              <% f.text_field :address, placeholder: 'Адрес доставки' %>
              <%= f.text_area :comment, :row => 3, :style => 'text-align: left;', placeholder: 'Комментарии' %>
            </div>
            <div class='delivery'>
              <%= f.label 'ДОСТАВКА:'%><br>
              <% @deliveries.each do |delivery| %>
                  <%= f.radio_button :delivery_id, delivery.id %>
                  <span><%= delivery.name %><br></span>
              <% end %>
            </div>
            <div class="pay" style="text-align: center">
              <%= f.submit "ОПЛАТИТЬ #{@book.price} руб.", class: 'torton-click-button' %>
            </div>
        <% end %>
      </div>
    </div>
  </div>
</div>