<div class="editorcontainer" style="margin-top: 0;">
  <div class="tabs">
    <ul class="nav nav-tabs" id="mytab">
      <li class="active"><a class="tab" data-target="#users" data-toggle="tab">ПОЛЬЗОВАТЕЛИ</a></li>
      <li><a class="tab" data-target="#bookprices" data-toggle="tab">ЦЕНЫ</a></li>
      <li><a class="tab" data-target="#socialicons" data-toggle="tab">СОЦИАЛЬНЫЕ СЕТИ</a></li>
      <li><a class="tab" data-target="#deliveries" data-toggle="tab">ДОСТАВКА</a></li>
      <li><a class="tab" data-target="#homephotoslider" data-toggle="tab">ФОТОСЛАЙДЕР</a></li>
      <li><a class="tab" data-target="#orders" data-toggle="tab">ЗАКАЗЫ</a></li>
    </ul>

    <div class="tab-content">
      <p id="notice"><%= notice %></p>
      <div class="tab-pane active" id="users">
        <%= render 'pages/forms/users' %>
      </div>
      <div class="tab-pane" id="bookprices">
        <%= render 'pages/forms/bookprices' %>
      </div>
      <div class="tab-pane" id="socialicons">
        <%= render 'pages/forms/socialicons' %>
      </div>
      <div class="tab-pane" id="deliveries">
        <%= render 'pages/forms/deliveries' %>
      </div>
      <div class="tab-pane" id="homephotoslider">
        <%= render 'pages/forms/homephotoslider' %>
      </div>
      <div class="tab-pane" id="orders">
        <%= render 'pages/forms/orders' %>
      </div>
    </div>
  </div>
</div>
<script>
  jQuery(function () {
    jQuery('#mytab a:first').tab('show')
  })
</script>