<% if Phgallery.find_by_kind("homepage").images.count > 1 %>
    <% @width = "50%" %>
<% else %>
    <% @width = "100%" %>
<% end %>
<div class="alignleft pageside" style="width: <%= @width %>">
  <div class="butsdiv">
    <div>
      <h1>TORTONBOOK</h1>
      <div >
        <i><p>Фотокнига с вашими фотографиями.</p>
        <p>Вы сами создаете свою  фотокнигу по</p>
        <p>готовым шаблонам, выбирая</p>
        <p>фотографии из вашего</p>
        <p>компьютера или instagram</p></i>
      </div>
      <%= form_for(@book) do |f| %>
          <div class="actions" style="text-align: center;">
            <%= f.submit 'СОБЕРИ INSTABOOK', :style => ' ' %>&emsp;
            <%= f.submit 'СОЗДАЙ ФОТОКНИГУ', :style => ' ' %>
          </div>
          <div class="field">
            <%= f.hidden_field :pagecount, :value => 0 %>
          </div>
      <% end %>
    </div>
  </div>
  <div class="alignleft">
    <p>(c) Tortonbook 2016</p>
  </div>
</div>
<div class="alignright pageside">
  <ul class="bxslider">
    <% Phgallery.find_by_kind("homepage").images.each_with_index do |image| %>
        <li>
          <div style="width:100%; height:100%; background: url('<%= image.url %>') no-repeat center; background-size: cover;">
          </div>
        </li>
    <% end %>
  </ul>
</div>
