<div class="book_page">
  <% rzp = CGI.parse(URI.parse(request.original_url).query)['razvorot'].first.to_i %>
  <% ltp = @bookpages[(rzp)*2 - 1].template %>
  <% rtp = @bookpages[(rzp)*2].template %>
  <%= render partial: 'books/partials/editor_head', locals: {rzp: rzp}  %>
  <%= render partial: 'books/partials/torton_page_nav', locals: {rzp: rzp, ltp: ltp, rtp: rtp} %>
  <div class="editbox">
    <% if rzp == 0 %>
        <%= render partial: 'books/partials/cover', locals: {bookpage: @bookpages.first, rtp: rtp} %>
        <%= render partial: 'books/partials/templates', locals: {bookpage: @bookpages[rzp], tp: rtp, ltp: ltp, count: 6, side: 'right', align: 'left', kind: 'cover'} %>
    <% else %>
        <%= render partial: 'books/partials/templates', locals: {bookpage: @bookpages[(rzp)*2 - 1], tp: ltp, ltp: ltp, count: 7, side: 'left', align: 'right', kind: 'template'} %>
        <%= render partial: 'books/partials/razvorot', locals: {bookpages: @bookpages, rzp: rzp, ltp: ltp, rtp: rtp} %>
        <%= render partial: 'books/partials/templates', locals: {bookpage: @bookpages[(rzp)*2], tp: rtp, ltp: ltp, count: 7, side: 'right', align: 'left', kind: 'template'} %>
        <% photoboxmargin = 'margin-top:6.5vh' %>
        <%= render partial: 'books/partials/rzvrt_templates', locals: {bookpage: @bookpages[(rzp)*2 - 1], tp: ltp} %>
    <% end %>
  </div>
  <%= render partial: 'books/partials/editor_footer', locals: {photoboxmargin: photoboxmargin } %>
</div>
<script>
    $(document).ready(function () {
        $('.darker').click(function() {
            $(this).parent('div').addClass('overlay');
        }) ;
        $("#fileUploader").on('change',function() {
            $(this).parents('form').submit();
            document.getElementById('uploader').style.display = "none";
            document.getElementById('loading').style.display = "inline";
        });
        $('.bgmove').backgroundDraggable({
            done: function() {
                var elem = $(event.target);
                var bgposi = elem.css('background-position');
                var params = elem.attr("id"); //event.target.id;  // or $(this).attr("id"), or this.id
                var re = /\s*,\s*/;
                var paramslist = params.split(re);
                var divid = paramslist[1];
                var bgImage = new Image();
                bgImage.src = elem.css('background-image').replace(/"/g,"").replace(/url\(|\)$/ig, "");
                //bgImage.width - The actual image width
                //bgImage.height - The actual image height
                var test = (elem.css('width').split("px")[0]/bgImage.width*bgImage.height);
                var test2 = -parseInt(bgposi.split("px")[1])+parseInt(elem.css('height').split("px")[0] * (-parseInt(bgposi.split("px")[1])) / (test-parseInt(elem.css('height').split("px")[0])));
                var test3 = (elem.css('height').split("px")[0]/bgImage.height*bgImage.width);
                var test4 = -parseInt(bgposi.split("px")[0])+parseInt(elem.css('width').split("px")[0] * (-parseInt(bgposi.split("px")[0])) / (test3-parseInt(elem.css('width').split("px")[0])));
                var positions = ((test4 / test3 * 100) + "% " + (test2 / test * 100) + "%" );
                $('.bgmove').text();
                jQuery.ajax({
                    url: "/bookpages/" + paramslist[0],
                    type: "put",
                    data: {
                        dragimage_params: {
                            div_id: divid,
                            positions: positions
                        }
                    },
                    dataType: 'json',
                    success: function (returned_value) {
                        if (returned_value)
                            alert('true');
                    }
                })
            }
        });
    });
</script>
