<div class="editorcontainer" style="margin: auto; margin-top: -20px; width: 65%; background-color: none; height: 100%;">

  <h1 style="padding: 1.2% 0 0.5% 0; text-align: center; font-size: 50px; font-family: 'PT Serif';"><b>СОЗДАЁМ ФОТОКНИГУ</b></h1>
  <% rzp = CGI.parse(URI.parse(request.original_url).query)['razvorot'].first.to_i %>
  <% ltp = @book.bookpages[(rzp)*2 - 2].template %>
  <% rtp = @book.bookpages[(rzp)*2 - 1].template %>

  <div style="margin-bottom: 0.5%">
    <% razvorots = @book.bookpages.count / 2 %>
    <% (1..razvorots).each do |i| %>
        <% if i == rzp %>
            <% @act = "pnbactive" %>
        <% else %>
            <% @act = "pagenavbar" %>
        <% end %>
        <%= link_to (i*2-1).to_s+" | "+(i*2).to_s, edit_book_path(:razvorot => i, :lt => ltp, :rt => rtp), :class => @act %>
    <% end %>
    <%= link_to " + ", book_path(@book, :addpages => 2 ), :method=> :put, :class => "pnbactive" %>
</div>

  <div id="withtemplates" >
    <div id="wrapperleft">
      <% (1..8).each do |i| %>
          <% if i == ltp %>
              <% @act = "tempactive" %>
          <% else %>
              <% @act = "lefttemplates" %>
          <% end %>
          <%= link_to bookpage_path(@book.bookpages[(rzp)*2 - 2], :template => i ), :method=> :put do %>
            <%= image_tag 'icons/template-'+i.to_s+'.jpg', :class => @act %>
          <% end %>
      <% end %>
    </div>
    <div id="wrappercenter">
      <div id="moveup">
        <div id="left">
          <% @id = (CGI.parse(URI.parse(request.original_url).query)['razvorot'].first.to_i)*2 - 2 %>
          <%= render 'books/templates/page_temp_' + ltp.to_s %>
        </div>
        <div id="right">
          <% @id = (CGI.parse(URI.parse(request.original_url).query)['razvorot'].first.to_i)*2 - 1 %>
          <%= render 'books/templates/page_temp_' + rtp.to_s %>
        </div>
      </div>
    </div>
    <div id="wrapperright">
      <% (1..8).each do |i| %>
          <%= link_to bookpage_path(@book.bookpages[(rzp)*2 - 1], :template => i ), :method=> :put do %>
              <%= image_tag 'icons/template-'+i.to_s+'.jpg', :class => "righttemplates" %>
          <% end %>
      <% end %>
    </div>
  </div>

  <div style="overflow: hidden; width: 100%; height: 100px; margin-top: 1%; background-color: white; box-shadow: 0 0 20px rgba(0,0,0,0.5); border: 1px solid black; border-radius: 10px;">
    <div class="wrapper2">
      <% @book.phgallery.images.each_with_index do |image, index| %>
          <div class="imgbox">
            <div id='<%= index %>' class="div_1 show-image">
              <%= image_tag image.url%>
              <%= link_to phgallery_image_path(@book.phgallery, index), :class => "delete" , :method => :delete, data: { confirm: "Are you sure you want to delete this image?" } do %>
                  <%= image_tag 'delete.jpg'%>
              <% end %>
            </div>
          </div>
      <% end %>
    </div>
  </div>


  <div class="actions" style=" position: absolute; left: 50%; -webkit-transform: translate(-50%, -50%); -moz-transform: translate(-50%, -50%); -ms-transform: translate(-50%, -50%); -o-transform: translate(-50%, -50%); transform: translate(-50%, -50%);">
    <%= form_for @book.phgallery, url: phgallery_images_path(@book.phgallery), method: :post do |f| %>
        <label style="padding:5px; border: 1px solid black; border-radius: 999px;background-color: white;">
          ДОБАВИТЬ ФОТОГРАФИИ
        <span style="display:none;">
          <%= f.file_field :image, required: true, multiple: true, accept: "image/jpeg, image/jpg", class: "addph", :onchange =>
              "$(this).parents('form').submit();"  %>
        </span>
        </label>
    <% end %>
  </div>

  <div style="margin-top: 1.5%; ">
    <%= form_for(@book) do |f| %>
        <div class="field">
          <%= f.hidden_field :pagecount, :value => 2 %>
        </div>
        <%= f.hidden_field :user_id, :value => current_user.id %>

        <div class="actions" style="text-align: center; padding: 1%;">
          <%= f.submit 'ПРОСМОТР КНИГИ', :class => "linkbut" %>
        </div>

    <% end %>
  </div>
</div>
