<div class="editorcontainer">
  <div class="editshow">
    <div id="divcenter" style="width: 100%;">
      <h1 style="padding: 3% 0 2% 0; font-size: 3.2vh; text-align: center;font-family: 'PT Serif'"><b>МОИ КНИГИ:</b></h1>
    </div>
    <div style="display: inline-block; width: 100%; text-align: center;">
      <% @books.each_with_index do |book, index| %>
          <div style="display: inline-block;">
            <%= link_to book_path(book, :razvorot => 0, :rt => book.bookpages[0].template) do %>
                  <div class="rightpage" style="width:25vh; height:25vh; box-shadow: 0 0 20px rgba(0, 0, 0, 0.5); float:right; border:1px solid black; background-color: <%= book.bookpages[0].bgcolor %>">
                    <% @book = book %>
                    <% @id = 0 %>
                    <%= render 'books/templates/cover_temp_' + book.bookpages.first.template.to_s %>
                  </div>
            <% end %>
          </div>
      <% end %>
    </div>
    <div class="submitbutton">
      <%= form_for(@book) do |f| %>
          <div class="actions" style="text-align: center;">
            <%= f.submit 'Новая фотокнига', :class => "linkbut", :style => "font-size: 1.2vh; font-weight: 100;" %>
          </div>
          <div class="field">
            <%= f.hidden_field :pagecount, :value => 0 %>
          </div>
      <% end %>
    </div>
  </div>
</div>
<style>
  .editorcontainer {
    padding: 0;
    margin: auto;
    width:100vh;
    height:100vh;
  }
  .editshow {
    position:relative;
    top:42%;
    transform: translate(0, -50%);
  }
  p.linkbut select {
    border: none;
    background: none;
  }
  .razvorots a:hover {
    text-decoration: none;
  }
</style>