<div class="editorcontainer">
  <div class="editshow">
    <% rzp = CGI.parse(URI.parse(request.original_url).query)['razvorot'].first.to_i %>
    <% ltp = @book.bookpages[(rzp)*2 - 1].template %>
    <% rtp = @book.bookpages[(rzp)*2].template %>
    <%= render partial: "books/partials/show_head", locals: {rzp: rzp} %>
    <div class="editbox">
      <% if rzp == 0 %>
          <%= render partial: "books/partials/cover", locals: {rzp: rzp, rtp: rtp} %>
          <%= render partial: "books/partials/show_next_button", locals: {rzp: rzp} %>
      <% else %>
          <%= render partial: "books/partials/show_prev_button", locals: {rzp: rzp} %>
          <%= render partial: "books/partials/razvorot", locals: {rzp: rzp, ltp: ltp, rtp: rtp} %>
          <%= render partial: "books/partials/show_next_button", locals: {rzp: rzp} %>
      <% end %>
    </div>

    <div class="to-order-button">
      <% if @book.order.status == "Создан" %>
        <%= link_to 'ОФОРМИТЬ ЗАКАЗ', edit_order_path(@book.order), data: { "no-turbolink" => true } , :class => "torton-click-button" %>
      <% end %>
    </div>
  </div>
</div>