<div class="editorcontainer">

  <% rzp = CGI.parse(URI.parse(request.original_url).query)['razvorot'].first.to_i %>
  <% ltp = @book.bookpages[(rzp)*2 - 1].template %>
  <% rtp = @book.bookpages[(rzp)*2].template %>

  <div id="withtemplates" style="width: 100%; margin-top: 2%; margin-left: 0%">
    <div id="divleft" style="padding: 7% 0 4% 0;">
      <%= link_to 'РЕДАКТИРОВАТЬ КНИГУ', edit_book_path(@book,:razvorot => rzp, :lt => @book.bookpages[0].template, :rt => @book.bookpages[1].template), :class => "linkbut"  %>
    </div>
    <div id="divcenter" >
      <h1 style="padding: 6% 0 5% 0;"><b>ПРОСМОТР ФОТОКНИГИ</b></h1>
    </div>
    <div id="divright" style="padding: 6.7% 0 4% 0;" >
      <p class="linkbut" style="float:right">СТОИМОСТЬ КНИГИ:</p>
    </div>
  </div>
  <div id="withtemplates" >
    <% if rzp == 0 %>
        <div id="wrappercenter" style="margin-left: 35vw; width: 32.5vw;height: 32.5vw;">
          <div>
            <% @id = (CGI.parse(URI.parse(request.original_url).query)['razvorot'].first.to_i)*2 %>
            <%= render 'books/templates/cover_temp_' + rtp.to_s %>
          </div>
        </div>
        <div id="wrapperright">
          <% if rzp == (@book.bookpages.last.pagenum / 2) %>
              <% @rzp = rzp %>
          <% else %>
              <% @rzp = rzp + 1 %>
              <%= link_to book_path(@book, :razvorot => @rzp ) do %>
                  <%= image_tag 'rightnav.png', :class => "rightnav"%>
              <% end %>
          <% end %>
        </div>
    <% else %>
        <div id="wrapperleft" >
          <% if rzp == (@book.bookpages.last.pagenum / 2) %>
              <% @rzp = rzp %>
          <% else %>
              <% @rzp = rzp - 1 %>
              <%= link_to book_path(@book, :razvorot => @rzp ) do %>
                  <%= image_tag 'leftnav.png', :class => "leftnav" %>
              <% end %>
          <% end %>
        </div>
        <div id="wrappercenter">
          <div id="moveup">
            <div id="left">
              <% @id = (CGI.parse(URI.parse(request.original_url).query)['razvorot'].first.to_i)*2 - 1 %>
              <%= render 'books/templates/page_temp_' + ltp.to_s %>
            </div>
            <div id="right">
              <% @id = (CGI.parse(URI.parse(request.original_url).query)['razvorot'].first.to_i)*2 %>
              <%= render 'books/templates/page_temp_' + rtp.to_s %>
            </div>
          </div>
        </div>
        <div id="wrapperright">
          <% if rzp == (@book.bookpages.last.pagenum / 2) %>
              <% @rzp = rzp %>
          <% else %>
              <% @rzp = rzp + 1 %>
              <%= link_to book_path(@book, :razvorot => @rzp ) do %>
                  <%= image_tag 'rightnav.png', :class => "rightnav"%>
              <% end %>
          <% end %>
        </div>
    <% end %>
  </div>


  <div style="text-align: center; margin: 5%;">
    <%= link_to 'ОФОРМИТЬ ЗАКАЗ', '#', :class => "linkbut" %>
  </div>
</div>
