<div class="book book-cover">
  <div class="leftpage" style="background-color: <%= bookpage.bgcolor %>">
    <%= link_to root_path, title: 'Главная страница' do %>
      <% logo_link = bookpage.bgcolor == 'white' ? 'back_side_logo_black.png' : 'back_side_logo_white.png' %>
      <%= image_tag logo_link %>
    <% end %>
  </div>
  <div class="book_name_edit" style="background-color: <%= bookpage.bgcolor %>;">
    <%= render partial: 'books/partials/book_name_edit', locals: {book: bookpage.book} %>
  </div>
  <div id="otstav" class="otstav" style="background-color: <%= bookpage.bgcolor %>">
    <p id="covertext" class="covertext otstavtext" style="color: <%= book.fontcolor %>;"><%= book.name %></p>
  </div>
  <div class="rightpage" style="background-color: <%= bookpage.bgcolor %>;">
    <%= render partial: 'books/templates/cover_temp_' + rtp.to_s, locals: {book: book, bookpage: bookpage} %>
  </div>
</div>