<div class="book_head">
  <div class="head_left">
    <div>
      <%= form_for(@book) do |f| %>
        <span class="round_element_with_data">
          ФОРМАТ:
          <b>
            <% @selected_values = []  %>
            <% @book_price_list.each do |format| %>
                <% @selected_values << format.format %>
            <% end %>
            <%= select_tag :price_list, options_for_select(@selected_values, @book.price_list.format), :onchange => 'this.form.submit();' %>
          </b>
        </span>
      <% end %>
    </div>
  </div>
  <div class="head_left">
    <div>
      <%= link_to book_path(@book,:razvorot => rzp, :lt => @book.book_pages[0].template, :rt => @book.book_pages[1].template), :method => :get, :class => 'round_button' do %>
        <i class="fa fa-search" aria-hidden="true"></i><span > ПРОСМОТР КНИГИ</span>
      <% end %>
    </div>
  </div>
  <div class="head_center" >
    <h1>РЕДАКТОР КНИГИ</h1>
  </div>
  <div class="head_right">
    <p class="round_element_with_data" >СТОИМОСТЬ КНИГИ: <b><%= @book.price %> <i class="fa fa-ruble"></i></b></p>
  </div>
  <div class="head_right" >
    <% if @book.order.blank? %>
      <%= link_to new_order_path(book: @book), data: { 'no-turbolink' => true } , :class => 'round_button' do %>
        <span >ОФОРМИТЬ ЗАКАЗ&nbsp;</span><i class="fa fa-shopping-bag" aria-hidden="true"></i>
      <% end %>
    <% end %>
  </div>
</div>