<div class="photobox" style=<%= photo_box_margin %>>
  <div class="wrapper2">
    <% @gallery.images.each_with_index do |image, index| %>
        <div class="imgbox slide">
          <div id='<%= index %>' class="div_1 show-image">
            <%= image_tag image.thumb.url%>
            <% if @book.gallery.added_images.include?(image.url) %>
                <%= fa_icon('check-circle-o', class: 'check_image') %>
            <% end %>
            <%= link_to book_gallery_image_path(@book, @book.gallery, index), :class => 'delete' , :method => :delete, data: { confirm: 'Удалить фотографию?' } do %>
                <i class="fa fa-times"></i>
            <% end %>
          </div>
        </div>
    <% end %>
  </div>
</div>
<div class="add_photo_button">
      <label id="trigger-modal_gallery">
        <i class="fa fa-plus"></i> ДОБАВИТЬ ФОТОГРАФИИ
      </label>
</div>
<div id="screen_gallery" class="screen"></div>
<div id="modal_gallery" class="modal">
  <%= render partial: '/image_upload_modal', locals: {form_for_model: @gallery,
                                                      url: book_gallery_images_url(@book.id, @gallery.id),
                                                      gallery_type: 'gallery'} %>
</div>