<div class="photobox" style=<%= photoboxmargin %>>
  <div class="wrapper2">
    <% @book.phgallery.images.each_with_index do |image, index| %>
        <div class="imgbox slide">
          <div id='<%= index %>' class="div_1 show-image">
            <%= image_tag image.ineditor.url%>
            <% if @book.phgallery.imgchecks.include?(image.url) %>
                <%= icon("check-circle-o", class: "check_image") %>
            <% end %>
            <%= link_to phgallery_image_path(@book.phgallery, index), :class => "delete" , :method => :delete, data: { confirm: "Удалить фотографию?" } do %>
                <%= image_tag 'delete.jpg'%>
            <% end %>
          </div>
        </div>
    <% end %>
  </div>
</div>
<div class="torton-addphoto-button">
  <%= form_for @book.phgallery, url: phgallery_images_path(@book.phgallery), method: :post do |f| %>
      <label id="uploader">
        ДОБАВИТЬ ФОТОГРАФИИ
        <span>
          <%= f.file_field :image, required: true, multiple: true, accept: "image/jpeg, image/jpg image/png", :id => "fileUploader"  %>
        </span>
      </label>
      <label id="loading">
        <i class="fa fa-refresh fa-spin fa-fw"></i>&nbsp;ИДЕТ ЗАГРУЗКА ФОТОГРАФИЙ...
      </label>
  <% end %>
</div>