<div  class="about_order book_box rightpage" style="background-color: <%= book.book_pages[0].background_color %>">
  <div class="center_side" style="color: <%= book.font_color %>;">
    <% if book.order.present? %>
        <% if book.order.status == 'В печати' %>
            <h4>Ваш заказ отправлен на печать.</h4>
        <% else %>
            <h4>Заказ на стадии оформления.</h4>
        <% end %>
        <p>
          Номер заказа: <b><%= book.order.name %></b>.<br>
          Название книги: <b><%= book.name %></b>.<br>
          Cтоимость: <b><%= book.order.price %></b>руб.
        </p>
    <% else %>
        <p>
          Название книги: <b><%= book.name %></b>.
        </p>
    <% end %>
    <%= link_to 'ПРОСМОТР', book_path(book, :razvorot => 0, :rt => book.book_pages[0].template),
                :style => "color:#{ book.font_color }; text_decoration: underline;", :method => :get  %><br>
    <%= link_to 'УДАЛИТЬ', book_path(book), method: :delete,
                :style => "color:#{ book.font_color }; text_decoration: underline;",
                data: { confirm: 'Вы действительно хотите удалить книгу?' } %>
  </div>
</div>