Новый заказ
===============================================
Номер заказа: <%= @order.name %>.
Cтоимость: <%= @order.price %>руб.
Cсылка на архив с книгой: <%= 'http://localhost:3000/orders/' + @order.name + '.zip' %>.
Контакты:</h3>
Ф.И.О: <%= @order.fio %>.
Телефон: <%= @order.phone %>.
