<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
<body>
<h1>Новый заказ</h1>
<p>
  Номер заказа: <%= @order.name %>.
</p>
<p>
  Cтоимость: <%= @order.price %>руб.
</p>
<p>
  Комментарии:
  <%= @order.price %>.
  <% if @order.comment.present? %>
      <%= @order.comment %>.
  <% else %>
      Комментариев нет.
  <% end %>
</p>
<br>
<p>
  <a href="<%= 'https://gudvinfoto.ru/orders/' + @order.name + '.zip' %>" >Архив с книгой.</a>
</p>
<h3>Контакты:</h3>
<p>
  Ф.И.О: <%= @order.fio %>
</p>
<p>
  Телефон: <%= @order.phone %>
</p>
<p>
  e-mail: <%= @order.email %>
</p>
<p>
  Доставка: <%= @order.delivery.name %>
</p>
</body>
</html>