<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
<body>
<h1>Ваш заказ отправлен на печать</h1>
<p>
  Номер заказа: <%= @order.name %>
</p>
<% if @order.kind == 'book' %>
  <p>
    Название книги: <%= @order.book.name %>
  </p>
<% end %>
<p>
  Cтоимость: <%= @order.price %>руб
</p>
<p>
  Доставка: <%= @order.delivery.name %>
</p>
<br>
<p>
  <% if @order.kind == 'book' %>
    <a href="<%= 'https://gudvinfoto.ru/books/' + @order.book.id.to_s + '?razvorot=0&rt=3' %>" >Cсылка для просмотра книги.</a>
  <% else %>
    <a href="<%= 'https://gudvinfoto.ru/holsts/' + @order.holst_id.to_s %>" >Cсылка для просмотра холста.</a>
  <% end %>
</p>
<p>
  Вашу книгу вы можете оплатить и забрать <%= (Time.now + 3.days).strftime("%d.%m.%Y") %><br>
  по адресу: г. Казань, ул. Короленко, д.35а<br>
  по будням с 10°° до 19°°
</p>
</body>
</html>