<div>
  <h3>ФОРМАТЫ И ЦЕНЫ</h3>
  <table class="table">
    <tbody>
    <% @bookprices.each do |price| %>
        <tr>
          <td>
            <%= form_for(price) do |f| %>
                <%= f.label 'ФОРМАТ:' %>
                <%= f.text_field :format %>
                <%= select_tag :status, options_for_select(['АКТИВЕН','НЕАКТИВЕН'], price.status) %>
                <%= select_tag :default, options_for_select(['ПО УМОЛЧАНИЮ','НЕТ'], price.default) %>
                <%= f.label 'MIN(СТРАНИЦ):' %>
                <%= f.number_field :defaultpagescount %>
                <%= f.label 'ОБЛОЖКА(руб)' %>
                <%= f.number_field :cover %>
                <%= f.label 'СТРАНИЦА(руб)' %>
                <%= f.number_field :page %>
                <%= f.submit 'СОХРАНИТЬ', :class => 'button-xs' %>
                <% if @bookprices.count > 1 %>
                    <%= link_to("УДАЛИТЬ ПОЗИЦИЮ", bookprice_path(price), :data => { :confirm => "ВЫ УВЕРЕНЫ?" }, :method => :delete, :class => 'button-xs' ) %>
                <% end %>
            <% end %>
          </td>
        </tr>
    <% end %>
    </tbody>
  </table>
  <h3>ДОБАВИТЬ ФОРМАТ</h3>
  <table class="table">
    <tbody>
        <tr>
          <td>
            <%= form_for(@bookprice) do |f| %>
                <%= f.label 'ФОРМАТ:' %>
                <%= f.text_field :format %>
                <%= select_tag :status, options_for_select(['АКТИВЕН','НЕАКТИВЕН'], @bookprice.status) %>
                <%= select_tag :default, options_for_select(['ПО УМОЛЧАНИЮ','НЕТ'], @bookprice.default) %>
                <%= f.label 'MIN(СТРАНИЦ):' %>
                <%= f.number_field :defaultpagescount %>
                <%= f.label 'ОБЛОЖКА(руб)' %>
                <%= f.number_field :cover %>
                <%= f.label 'СТРАНИЦА(руб)' %>
                <%= f.number_field :page %>
                <%= f.submit 'ДОБАВИТЬ ФОРМАТ', :class => 'button-xs' %>
            <% end %>
          </td>
        </tr>
    </tbody>
  </table>
</div>