<div>
  <h3>ЗАКАЗЫ:</h3>
  <table class="table">
    <tbody>
    <% @orders.each do |order| %>
        <tr>
          <td>
            <%= form_for(order) do |f| %>
                <%= f.label 'НАЗВАНИЕ:' %>
                <%= f.text_field :name %>
                <%= f.label 'СТОИМОСТЬ(руб)' %>
                <%= f.number_field :price %>
                <%= f.label 'СТАТУС:' %>
                <%= order.status %>
                <%= f.submit 'СОХРАНИТЬ', :class => 'button-xs' %>
                <%= link_to("УДАЛИТЬ ПОЗИЦИЮ", order_path(order), :data => { :confirm => "ВЫ УВЕРЕНЫ?" }, :method => :delete, :class => 'button-xs' ) %>
            <% end %>
          </td>
        </tr>
    <% end %>
    </tbody>
  </table>
</div>