<div class="form_row">
  <div class="admin-column-left-email">
    <%= user.email %>
  </div>
  <div class="admin-column-left" style="margin-left: 1vh;">
    <%= user.name %>
  </div>
  <div class="admin-column-right">
    <%= link_to('УДАЛИТЬ', admin_user_path(user), :data => { :confirm => 'Are you sure?' }, :method => :delete, :class => 'round_button') unless user == current_user %>
  </div>
  <div class="admin-column-right">
    <%= form_for ([:admin, user]) do |f| %>
      <%= f.select(:role, User.roles.keys.map {|role| [role.titleize,role]}) %>
      <%= f.submit 'СМЕНИТЬ РОЛЬ', :class => 'round_button' %>
    <% end %>
  </div>
</div>