<% if book.fontsize.present? %>
    <% if book.fontsize.to_i > tempfsize.to_i %>
        <% currentsize = tempfsize %>
    <% else %>
        <% currentsize = book.fontsize %>
    <% end %>
<% else %>
    <% currentsize = tempfsize %>
<% end %>

<% if controller.controller_name == 'orders' %>
    <div style="color: <%= book.fontcolor %>; position: relative; top: 50%; transform: translateY(-50%); font-size: <%= (currentsize.to_i / 2.0).to_s %>vh; font-family: <%= book.fontfamily %>; ">
      <%= book.name %>
    </div>
<% else %>
    <% if controller.action_name == 'edit' %>
    <div id="book_name" style="height: 50vh; width: 50vh; background:none; text-align: center; display:table-cell; vertical-align:middle;">
      <div id="covertext" class="covertext pagetext" style="color: <%= @book.fontcolor %>; font-size: <%= @currentsize %>vh; font-family: <%= @book.fontfamily %>;">
        <%= book.name %>
      </div>
    </div>
    <% else %>
        <% if controller.action_name == 'index' %>
            <div style="color: <%= book.fontcolor %>; position: relative; top: 50%; transform: translateY(-50%); font-size: <%= (currentsize.to_i / 2.0).to_s %>vh; font-family: <%= book.fontfamily %>; ">
              <%= book.name %>
            </div>
        <% else %>
            <div style="color: <%= book.fontcolor %>; text-align:center; position: relative; top: 50%; transform: translateY(-50%); font-size: <%= currentsize %>vh; font-family: <%= book.fontfamily %>; ">
              <%= book.name %>
            </div>
        <% end %>
    <% end %>
<% end %>