<%= render partial: "books/templates/frame", locals: {bookpage: bookpage, num: 0, addclass: "", style: "width: 100%; padding-top: 70%; margin: 0;"} %>
<% @tempfsize = "6" %>
<% if @book.fontsize.present? %>
    <% if @book.fontsize.to_i > @tempfsize.to_i %>
        <% @currentsize = @tempfsize %>
    <% else %>
        <% @currentsize = @book.fontsize %>
    <% end %>
<% else %>
    <% @currentsize = @tempfsize %>
<% end %>

<% if controller.controller_name == "orders" %>
    <div class="col-xs-6" style="position: relative; text-align: center; height: 7.5vh;width: 100%;">
      <div style="color: <%= @book.fontcolor %>; position: relative; top: 50%; transform: translateY(-50%); font-size: <%= (@currentsize.to_i / 2.0).to_s %>vh; font-family: <%= @book.fontfamily %>; ">
        <%= @book.name %>
      </div>
    </div>
<% else %>
    <% if controller.action_name == "edit" %>
        <%= form_for(@book, :html => { :style =>"width: 50vh; height: 15vh; background:none; text-align: center; display:table-cell; vertical-align:middle;"}) do |f| %>

            <%= select_tag 'size', options_for_select(['0.7','1','1.2','1.5','2','2.4','3','3.5','4','4.5','5','5.5','6'], @currentsize) %>
            <%= select_tag 'fs', options_for_select(['Arial','Verdana','Impact','PT Sans','Comic Sans MS'], @book.fontfamily) %>
            <div id="textarea">
              <textarea id="covertext" data-autoresize rows="1" class="changeMe" style="color: <%= @book.fontcolor %>;"><%= @book.name %></textarea>
            </div>
            <div id='click' class='<%= @book.id %>' style="color: <%= @book.fontcolor %>; cursor: pointer;">сохранить</div>
        <% end %>
    <% else %>
        <% if controller.action_name == "index" %>
            <div style="position: relative; text-align: center; height: 7.5vh;width: 100%;">
              <div style="color: <%= @book.fontcolor %>; position: relative; top: 50%; transform: translateY(-50%); font-size: <%= (@currentsize.to_i / 2.0).to_s %>vh; font-family: <%= @book.fontfamily %>; ">
                <%= @book.name %>
              </div>
            </div>
        <% else %>
            <div style="position: relative; text-align: center; width: 100%; height: 15vh;">
              <div style="color: <%= @book.fontcolor %>; position: relative; top: 50%; transform: translateY(-50%); font-size: <%= @currentsize %>vh; font-family: <%= @book.fontfamily %>; ">
                <%= @book.name %>
              </div>
            </div>
        <% end %>
    <% end %>
<% end %>