<div class="" style="width:100%;">
  <div class="row">
    <div id="<%= bookpage.id %>, 1" class="col-left">
      <div class="row">
        <%= render partial: "books/templates/frame",
                   locals: {bookpage: bookpage, num: 0,
                            addclass: "",
                            style: "width: 90%; padding-top: 190%; margin: 5%;"
                   } %>
      </div>
    </div>
    <% tempfsize = "3" %>
    <% if book.fontsize.present? %>
        <% if book.fontsize.to_i > tempfsize.to_i %>
            <% currentsize = tempfsize %>
        <% else %>
            <% currentsize = book.fontsize %>
        <% end %>
    <% else %>
        <% currentsize = tempfsize %>
    <% end %>

    <% if controller.controller_name == "orders" %>
        <div class="col-right">
          <div style="position: relative; text-align: center; height: 25vh;width: 100%;">
            <div style="color: <%= book.fontcolor %>; position: relative; top: 50%; transform: translateY(-50%); font-size: <%= (currentsize.to_i / 2.0).to_s %>vh; font-family: <%= book.fontfamily %>; ">
              <%= book.name %>
            </div>
          </div>
        </div>
    <% else %>
        <% if controller.action_name == "edit" %>
        <div id="book_name" style="height: 50vh; width: 25vh; background:none; text-align: center; display:table-cell; vertical-align:middle;">
          <div id="covertext" class="covertext pagetext" style="color: <%= book.fontcolor %>; font-size: <%= currentsize %>vh; font-family: <%= book.fontfamily %>;">
            <%= book.name %>
          </div>
        </div>
        <% else %>
            <% if controller.action_name == "index" %>
                <div class="col-right">
                  <div style="position: relative; text-align: center; height: 25vh;width: 100%;">
                    <div style="color: <%= book.fontcolor %>; position: relative; top: 50%; transform: translateY(-50%); font-size: <%= (currentsize.to_i / 2.0).to_s %>vh; font-family: <%= book.fontfamily %>; ">
                      <%= book.name %>
                    </div>
                  </div>
                </div>
            <% else %>
                <div class="col-right">
                  <div style="position: relative; text-align: center; height: 50vh; width: 50%;">
                    <div style="color: <%= book.fontcolor %>; text-align:center; position: relative; top: 50%; transform: translateY(-50%); font-size: <%= currentsize %>vh; font-family: <%= book.fontfamily %>; ">
                      <%= book.name %>
                    </div>
                  </div>
                </div>
            <% end %>
        <% end %>
    <% end %>
  </div>
</div>

<style>
  .col-left {
    display: inline-block;
    float: left;
    width:50%;
  }
  .col-right {
    float: right;
    display: inline-block;
    width:50%;
  }
</style>