<div class="container to_center" style="width: 92%; margin: 4%;">
  <div class="row">
    <%= render partial: "books/templates/frame",
               locals: {book_page: book_page, num: 0,
                        addclass: "col-xs-6 col-sm-4",
                        style: "width: 24.7%; padding-top: 24.7%; margin: 0 0.2% 0.2% 0;"} %>
    <%= render partial: "books/templates/frame",
               locals: {book_page: book_page, num: 1,
                        addclass: "col-xs-6 col-sm-4",
                        style: "width: 24.7%; padding-top: 24.7%; margin: 0 0.2% 0.2% 0.2%;"} %>
    <%= render partial: "books/templates/frame",
               locals: {book_page: book_page, num: 2,
                        addclass: "col-xs-6 col-sm-4",
                        style: "width: 24.7%; padding-top: 24.7%; margin: 0 0.2% 0.2% 0.2%;"} %>
    <%= render partial: "books/templates/frame",
               locals: {book_page: book_page, num: 3,
                        addclass: "col-xs-6 col-sm-4",
                        style: "width: 24.7%; padding-top: 24.7%; margin: 0 0 0.2% 0.2%;"} %>
  </div>
  <div class="row">
    <%= render partial: "books/templates/frame",
               locals: {book_page: book_page, num: 4,
                        addclass: "col-xs-6 col-sm-4",
                        style: "width: 24.7%; padding-top: 24.7%; margin: 0 0.2% 0.2% 0;"} %>
    <%= render partial: "books/templates/frame",
               locals: {book_page: book_page, num: 5,
                        addclass: "col-xs-6 col-sm-4",
                        style: "width: 24.7%; padding-top: 24.7%; margin: 0 0.2% 0.2% 0.2%;"} %>
    <%= render partial: "books/templates/frame",
               locals: {book_page: book_page, num: 6,
                        addclass: "col-xs-6 col-sm-4",
                        style: "width: 24.7%; padding-top: 24.7%; margin: 0 0.2% 0.2% 0.2%;"} %>
    <%= render partial: "books/templates/frame",
               locals: {book_page: book_page, num: 7,
                        addclass: "col-xs-6 col-sm-4",
                        style: "width: 24.7%; padding-top: 24.7%; margin: 0 0 0.2% 0.2%;"} %>
  </div>
  <div class="row">
    <%= render partial: "books/templates/frame",
               locals: {book_page: book_page, num: 8,
                        addclass: "col-xs-6 col-sm-4",
                        style: "width: 24.7%; padding-top: 24.7%; margin: 0 0.2% 0.2% 0;"} %>
    <%= render partial: "books/templates/frame",
               locals: {book_page: book_page, num: 9,
                        addclass: "col-xs-6 col-sm-4",
                        style: "width: 24.7%; padding-top: 24.7%; margin: 0 0.2% 0.2% 0.2%;"} %>
    <% template_font_size = "3" %>
    <% if book.font_size.present? %>
        <% if book.font_size.to_i > template_font_size.to_i %>
            <% current_size = template_font_size %>
        <% else %>
            <% current_size = book.font_size %>
        <% end %>
    <% else %>
        <% current_size = template_font_size %>
    <% end %>
    <% if controller.controller_name == "orders" %>
        <div class="col-xs-6" style="position: relative; text-align: center; height: 5.75vh;width: 11.35vh;">
          <div style="color: <%= book.font_color %>; position: relative; top: 50%; transform: translateY(-50%); font-size: <%= (current_size.to_i/2.0).to_s %>vh; font-family: <%= book.font_family %>; ">
            <%= book.name %>
          </div>
        </div>
    <% else %>
        <% if controller.action_name == "edit" %>
        <div id="book_name" class="book_name_editor_toggle" style="height: 11.5vh; width: 22.7vh; background:none; text-align: center; display:table-cell; vertical-align:middle;">
          <div id="covertext" class="covertext pagetext" style="color: <%= book.font_color %>; font-size: <%= current_size %>vh; font-family: <%= book.font_family %>;">
            <%= book.name %>
          </div>
        </div>
        <% else %>
            <% if controller.action_name == "index" %>
                <div class="col-xs-6" style="position: relative; text-align: center; height: 5.75vh;width: 11.35vh;">
                  <div style="color: <%= book.font_color %>; position: relative; top: 50%; transform: translateY(-50%); font-size: <%= (current_size.to_i / 2.0).to_s %>vh; font-family: <%= book.font_family %>; ">
                    <%= book.name %>
                  </div>
                </div>
            <% else %>
                <div class="col-xs-6" style="position: relative; text-align: center; height: 11.5vh; width: 22.7vh;">
                  <div style="color: <%= book.font_color %>; text-align:center; position: relative; top: 50%; transform: translateY(-50%); font-size: <%= current_size %>vh; font-family: <%= book.font_family %>; ">
                    <%= book.name %>
                  </div>
                </div>
            <% end %>
        <% end %>
    <% end %>
  </div>
  <div class="row">
    <%= render partial: "books/templates/frame",
               locals: {book_page: book_page, num: 10,
                        addclass: "col-xs-6 col-sm-4",
                        style: "width: 24.7%; padding-top: 24.7%; margin: 0 0.2% 0.2% 0;"} %>
    <%= render partial: "books/templates/frame",
               locals: {book_page: book_page, num: 11,
                        addclass: "col-xs-6 col-sm-4",
                        style: "width: 24.7%; padding-top: 24.7%; margin: 0 0.2% 0.2% 0.2%;"} %>
    <%= render partial: "books/templates/frame",
               locals: {book_page: book_page, num: 12,
                        addclass: "col-xs-6 col-sm-4",
                        style: "width: 24.7%; padding-top: 24.7%; margin: 0 0.2% 0.2% 0.2%;"} %>
    <%= render partial: "books/templates/frame",
               locals: {book_page: book_page, num: 13,
                        addclass: "col-xs-6 col-sm-4",
                        style: "width: 24.7%; padding-top: 24.7%; margin: 0 0 0.2% 0.2%;"} %>
  </div>
</div>