<div class="container" style="width: 92%; margin: 4%;">
  <div class="row">
    <% @num = 1 %>
    <% if @book.bookpages[@id].images[@num-1].blank? %>
        <div id="<%= @book.bookpages[@id].id %>, <%= @num %>" class="bgmove col-xs-6 col-sm-4 div_2" style="width: 24.7%; padding-top: 24.7%; margin: 0 0.2% 0.2% 0;">
          <%= render 'books/templates/rotate' %>
        </div>
    <% else %>
        <div id="<%= @book.bookpages[@id].id %>, <%= @num %>" class="bgmove col-xs-6 col-sm-4 div_2" style="width: 24.7%; padding-top: 24.7%; margin: 0 0.2% 0.2% 0; background: url('<%= @book.bookpages[@id].images[@num-1].url %>') <%= @book.bookpages[@id].positions[@num-1] %> / cover  no-repeat;">
          <%= render 'books/templates/rotate' %>
        </div>
    <% end %>
    <% @num = 2 %>
    <% if @book.bookpages[@id].images[@num-1].blank? %>
        <div id="<%= @book.bookpages[@id].id %>, <%= @num %>" class="bgmove col-xs-6 col-sm-4 div_2" style="width: 24.7%; padding-top: 24.7%; margin: 0 0.2% 0.2% 0.2%;">
          <%= render 'books/templates/rotate' %>
        </div>
    <% else %>
        <div id="<%= @book.bookpages[@id].id %>, <%= @num %>" class="bgmove col-xs-6 col-sm-4 div_2" style="width: 24.7%; padding-top: 24.7%; margin: 0 0.2% 0.2% 0.2%; background: url('<%= @book.bookpages[@id].images[@num-1].url %>') <%= @book.bookpages[@id].positions[@num-1] %> / cover  no-repeat;">
          <%= render 'books/templates/rotate' %>
        </div>
    <% end %>
    <% @num = 3 %>
    <% if @book.bookpages[@id].images[@num-1].blank? %>
        <div id="<%= @book.bookpages[@id].id %>, <%= @num %>" class="bgmove col-xs-6 col-sm-4 div_2" style="width: 24.7%; padding-top: 24.7%; margin: 0 0.2% 0.2% 0.2%;">
          <%= render 'books/templates/rotate' %>
        </div>
    <% else %>
        <div id="<%= @book.bookpages[@id].id %>, <%= @num %>" class="bgmove col-xs-6 col-sm-4 div_2" style="width: 24.7%; padding-top: 24.7%; margin: 0 0.2% 0.2% 0.2%; background: url('<%= @book.bookpages[@id].images[@num-1].url %>') <%= @book.bookpages[@id].positions[@num-1] %> / cover  no-repeat;">
          <%= render 'books/templates/rotate' %>
        </div>
    <% end %>
    <% @num = 4 %>
    <% if @book.bookpages[@id].images[@num-1].blank? %>
        <div id="<%= @book.bookpages[@id].id %>, <%= @num %>" class="bgmove col-xs-6 col-sm-4 div_2" style="width: 24.7%; padding-top: 24.7%; margin: 0 0 0.2% 0.2%;">
          <%= render 'books/templates/rotate' %>
        </div>
    <% else %>
        <div id="<%= @book.bookpages[@id].id %>, <%= @num %>" class="bgmove col-xs-6 col-sm-4 div_2" style="width: 24.7%; padding-top: 24.7%; margin: 0 0 0.2% 0.2%; background: url('<%= @book.bookpages[@id].images[@num-1].url %>') <%= @book.bookpages[@id].positions[@num-1] %> / cover  no-repeat;">
          <%= render 'books/templates/rotate' %>
        </div>
    <% end %>
  </div>
  <div class="row">
    <% @num = 5 %>
    <% if @book.bookpages[@id].images[@num-1].blank? %>
        <div id="<%= @book.bookpages[@id].id %>, <%= @num %>" class="bgmove col-xs-6 col-sm-4 div_2" style="width: 24.7%; padding-top: 24.7%; margin: 0 0.2% 0.2% 0;">
          <%= render 'books/templates/rotate' %>
        </div>
    <% else %>
        <div id="<%= @book.bookpages[@id].id %>, <%= @num %>" class="bgmove col-xs-6 col-sm-4 div_2" style="width: 24.7%; padding-top: 24.7%; margin: 0 0.2% 0.2% 0; background: url('<%= @book.bookpages[@id].images[@num-1].url %>') <%= @book.bookpages[@id].positions[@num-1] %> / cover  no-repeat;">
          <%= render 'books/templates/rotate' %>
        </div>
    <% end %>
    <% @num = 6 %>
    <% if @book.bookpages[@id].images[@num-1].blank? %>
        <div id="<%= @book.bookpages[@id].id %>, <%= @num %>" class="bgmove col-xs-6 col-sm-4 div_2" style="width: 24.7%; padding-top: 24.7%; margin: 0 0.2% 0.2% 0.2%;">
          <%= render 'books/templates/rotate' %>
        </div>
    <% else %>
        <div id="<%= @book.bookpages[@id].id %>, <%= @num %>" class="bgmove col-xs-6 col-sm-4 div_2" style="width: 24.7%; padding-top: 24.7%; margin: 0 0.2% 0.2% 0.2%; background: url('<%= @book.bookpages[@id].images[@num-1].url %>') <%= @book.bookpages[@id].positions[@num-1] %> / cover  no-repeat;">
          <%= render 'books/templates/rotate' %>
        </div>
    <% end %>
    <% @num = 7 %>
    <% if @book.bookpages[@id].images[@num-1].blank? %>
        <div id="<%= @book.bookpages[@id].id %>, <%= @num %>" class="bgmove col-xs-6 col-sm-4 div_2" style="width: 24.7%; padding-top: 24.7%; margin: 0 0.2% 0.2% 0.2%;">
          <%= render 'books/templates/rotate' %>
        </div>
    <% else %>
        <div id="<%= @book.bookpages[@id].id %>, <%= @num %>" class="bgmove col-xs-6 col-sm-4 div_2" style="width: 24.7%; padding-top: 24.7%; margin: 0 0.2% 0.2% 0.2%; background: url('<%= @book.bookpages[@id].images[@num-1].url %>') <%= @book.bookpages[@id].positions[@num-1] %> / cover  no-repeat;">
          <%= render 'books/templates/rotate' %>
        </div>
    <% end %>
    <% @num = 8 %>
    <% if @book.bookpages[@id].images[@num-1].blank? %>
        <div id="<%= @book.bookpages[@id].id %>, <%= @num %>" class="bgmove col-xs-6 col-sm-4 div_2" style="width: 24.7%; padding-top: 24.7%; margin: 0 0 0.2% 0.2%;">
          <%= render 'books/templates/rotate' %>
        </div>
    <% else %>
        <div id="<%= @book.bookpages[@id].id %>, <%= @num %>" class="bgmove col-xs-6 col-sm-4 div_2" style="width: 24.7%; padding-top: 24.7%; margin: 0 0 0.2% 0.2%; background: url('<%= @book.bookpages[@id].images[@num-1].url %>') <%= @book.bookpages[@id].positions[@num-1] %> / cover  no-repeat;">
          <%= render 'books/templates/rotate' %>
        </div>
    <% end %>
  </div>
  <div class="row">
    <% @num = 9 %>
    <% if @book.bookpages[@id].images[@num-1].blank? %>
        <div id="<%= @book.bookpages[@id].id %>, <%= @num %>" class="bgmove col-xs-6 col-sm-4 div_2" style="width: 24.7%; padding-top: 24.7%; margin: 0 0.2% 0.2% 0;">
          <%= render 'books/templates/rotate' %>
        </div>
    <% else %>
        <div id="<%= @book.bookpages[@id].id %>, <%= @num %>" class="bgmove col-xs-6 col-sm-4 div_2" style="width: 24.7%; padding-top: 24.7%; margin: 0 0.2% 0.2% 0; background: url('<%= @book.bookpages[@id].images[@num-1].url %>') <%= @book.bookpages[@id].positions[@num-1] %> / cover  no-repeat;">
          <%= render 'books/templates/rotate' %>
        </div>
    <% end %>
    <% @num = 10 %>
    <% if @book.bookpages[@id].images[@num-1].blank? %>
        <div id="<%= @book.bookpages[@id].id %>, <%= @num %>" class="bgmove col-xs-6 col-sm-4 div_2" style="width: 24.7%; padding-top: 24.7%; margin: 0 0.2% 0.2% 0.2%;">
          <%= render 'books/templates/rotate' %>
        </div>
    <% else %>
        <div id="<%= @book.bookpages[@id].id %>, <%= @num %>" class="bgmove col-xs-6 col-sm-4 div_2" style="width: 24.7%; padding-top: 24.7%; margin: 0 0.2% 0.2% 0.2%; background: url('<%= @book.bookpages[@id].images[@num-1].url %>') <%= @book.bookpages[@id].positions[@num-1] %> / cover  no-repeat;">
          <%= render 'books/templates/rotate' %>
        </div>
    <% end %>
    <% @tempfsize = "3" %>
    <% if @book.fontsize.present? %>
        <% if @book.fontsize.to_i > @tempfsize.to_i %>
            <% @currentsize = @tempfsize %>
        <% else %>
            <% @currentsize = @book.fontsize %>
        <% end %>
    <% else %>
        <% @currentsize = @tempfsize %>
    <% end %>
    <% if controller.controller_name == "orders" %>
        <div class="col-xs-6" style="position: relative; text-align: center; height: 5.75vh;width: 11.35vh;">
          <div style="color: <%= @book.fontcolor %>; position: relative; top: 50%; transform: translateY(-50%); font-size: <%= (@currentsize.to_i / 2).to_s %>vh; font-family: <%= @book.fontfamily %>; ">
            <%= @book.name %>
          </div>
        </div>
    <% else %>
        <% if controller.action_name == "edit" %>
            <%= form_for(@book, :html => { :style =>"height: 11.5vh; width: 22.7vh; background:none; text-align: center; display:table-cell; vertical-align:middle;"}) do |f| %>

                <%= select_tag 'size', options_for_select(['0.7','1','1.2','1.5','2','2.4','3'], @currentsize) %>
                <%= select_tag 'fs', options_for_select(['Arial','Verdana','Impact','PT Sans','Comic Sans MS'], @book.fontfamily) %>
                <textarea id="covertext" data-autoresize rows="1" class="changeMe" style="color: <%= @book.fontcolor %>;"><%= @book.name %></textarea>
                <div id='click' class='<%= @book.id %>' style="color: <%= @book.fontcolor %>; cursor: pointer;">сохранить</div>

            <% end %>
        <% else %>
            <% if controller.action_name == "index" %>
                <div class="col-xs-6" style="position: relative; text-align: center; height: 5.75vh;width: 11.35vh;">
                  <div style="color: <%= @book.fontcolor %>; position: relative; top: 50%; transform: translateY(-50%); font-size: <%= (@currentsize.to_i / 2).to_s %>vh; font-family: <%= @book.fontfamily %>; ">
                    <%= @book.name %>
                  </div>
                </div>
            <% else %>
                <div class="col-xs-6" style="position: relative; text-align: center; height: 11.5vh; width: 22.7vh;">
                  <div style="color: <%= @book.fontcolor %>; text-align:center; position: relative; top: 50%; transform: translateY(-50%); font-size: <%= @currentsize %>vh; font-family: <%= @book.fontfamily %>; ">
                    <%= @book.name %>
                  </div>
                </div>
            <% end %>
        <% end %>
    <% end %>
  </div>
  <div class="row">

    <% @num = 11 %>
    <% if @book.bookpages[@id].images[@num-1].blank? %>
        <div id="<%= @book.bookpages[@id].id %>, <%= @num %>" class="bgmove col-xs-6 col-sm-4 div_2" style="width: 24.7%; padding-top: 24.7%; margin: 0 0.2% 0.2% 0;">
          <%= render 'books/templates/rotate' %>
        </div>
    <% else %>
        <div id="<%= @book.bookpages[@id].id %>, <%= @num %>" class="bgmove col-xs-6 col-sm-4 div_2" style="width: 24.7%; padding-top: 24.7%; margin: 0 0.2% 0.2% 0; background: url('<%= @book.bookpages[@id].images[@num-1].url %>') <%= @book.bookpages[@id].positions[@num-1] %> / cover  no-repeat;">
          <%= render 'books/templates/rotate' %>
        </div>
    <% end %>
    <% @num = 12 %>
    <% if @book.bookpages[@id].images[@num-1].blank? %>
        <div id="<%= @book.bookpages[@id].id %>, <%= @num %>" class="bgmove col-xs-6 col-sm-4 div_2" style="width: 24.7%; padding-top: 24.7%; margin: 0 0.2% 0.2% 0.2%;">
          <%= render 'books/templates/rotate' %>
        </div>
    <% else %>
        <div id="<%= @book.bookpages[@id].id %>, <%= @num %>" class="bgmove col-xs-6 col-sm-4 div_2" style="width: 24.7%; padding-top: 24.7%; margin: 0 0.2% 0.2% 0.2%; background: url('<%= @book.bookpages[@id].images[@num-1].url %>') <%= @book.bookpages[@id].positions[@num-1] %> / cover  no-repeat;">
          <%= render 'books/templates/rotate' %>
        </div>
    <% end %>
    <% @num = 13 %>
    <% if @book.bookpages[@id].images[@num-1].blank? %>
        <div id="<%= @book.bookpages[@id].id %>, <%= @num %>" class="bgmove col-xs-6 col-sm-4 div_2" style="width: 24.7%; padding-top: 24.7%; margin: 0 0.2% 0.2% 0.2%;">
          <%= render 'books/templates/rotate' %>
        </div>
    <% else %>
        <div id="<%= @book.bookpages[@id].id %>, <%= @num %>" class="bgmove col-xs-6 col-sm-4 div_2" style="width: 24.7%; padding-top: 24.7%; margin: 0 0.2% 0.2% 0.2%; background: url('<%= @book.bookpages[@id].images[@num-1].url %>') <%= @book.bookpages[@id].positions[@num-1] %> / cover  no-repeat;">
          <%= render 'books/templates/rotate' %>
        </div>
    <% end %>
    <% @num = 14 %>
    <% if @book.bookpages[@id].images[@num-1].blank? %>
        <div id="<%= @book.bookpages[@id].id %>, <%= @num %>" class="bgmove col-xs-6 col-sm-4 div_2" style="width: 24.7%; padding-top: 24.7%; margin: 0 0 0.2% 0.2%;">
          <%= render 'books/templates/rotate' %>
        </div>
    <% else %>
        <div id="<%= @book.bookpages[@id].id %>, <%= @num %>" class="bgmove col-xs-6 col-sm-4 div_2" style="width: 24.7%; padding-top: 24.7%; margin: 0 0 0.2% 0.2%; background: url('<%= @book.bookpages[@id].images[@num-1].url %>') <%= @book.bookpages[@id].positions[@num-1] %> / cover  no-repeat;">
          <%= render 'books/templates/rotate' %>
        </div>
    <% end %>
  </div>
</div>