<% if @book.bookpages[@id].images.blank? %>
    <div id="<%= @book.bookpages[@id].id %>, <%= num %>" class="bgmove <%= addclass %> div_2" style="<%= style %>" >
    </div>
<% else %>
    <div id="<%= @book.bookpages[@id].id %>, <%= num %>" class="bgmove <%= addclass %> div_2" style="<%= style %> background: url('<%= @book.bookpages[@id].images[num] %>') <%= @book.bookpages[@id].positions[num] %> / cover  no-repeat;">
      <%= render 'books/templates/rotate' %>
    </div>
<% end %>