<% if @book.bookpages[@id].images.blank? %>
    <div id="<%= @book.bookpages[@id].id %>, 1" class="div_2" style="width: 80%; height: 80%; margin: 10%;">
    </div>
<% else %>
    <% @num = 1 %>
    <div id="<%= @book.bookpages[@id].id %>, 1" class="bgmove div_2" style="width: 80%; height: 80%; margin: 10%; background: url('<%= @book.bookpages[@id].images[0].url %>') <%= @book.bookpages[@id].positions[0] %> / cover  no-repeat;">
      <%= render 'books/templates/rotate' %>
    </div>
<% end %>