<% @num = 1 %>
<% if @book.bookpages[@id].images.blank? %>
    <div id="<%= @book.bookpages[@id].id %>, <%= @num %>" class="bgmove div_2" style="width: 100%; height: 100%; margin: 0;">
      <%= render 'books/templates/rotate' %>
    </div>
<% else %>
    <div id="<%= @book.bookpages[@id].id %>, <%= @num %>" class="bgmove div_2" style="width: 100%; height: 100%; margin: 0; background: url('<%= @book.bookpages[@id].images[0].url %>') <%= @book.bookpages[@id].positions[0] %> / cover  no-repeat;">
      <%= render 'books/templates/rotate' %>
    </div>
<% end %>