<div class="container" style="width: 100%; margin: 20% 0;">
  <div class="row">
    <% @num = 1 %>
    <% if @book.bookpages[@id].images[@num-1].blank? %>
        <div id="<%= @book.bookpages[@id].id %>, <%= @num %>" class="bgmove col-xs-6 div_2" style="width: 49.7%; padding-top: 29.5%; margin: 0 0.3% 0.3% 0;">
          <%= render 'books/templates/rotate' %>
        </div>
    <% else %>
        <div id="<%= @book.bookpages[@id].id %>, <%= @num %>" class="bgmove col-xs-6 div_2" style="width: 49.7%; padding-top: 29.5%; margin: 0 0.3% 0.3% 0; background: url('<%= @book.bookpages[@id].images[@num-1].ineditor.url %>') <%= @book.bookpages[@id].positions[@num-1] %> / cover  no-repeat;">
          <%= render 'books/templates/rotate' %>
        </div>
    <% end %>
    <% @num = 2 %>
    <% if @book.bookpages[@id].images[@num-1].blank? %>
        <div id="<%= @book.bookpages[@id].id %>, <%= @num %>" class="bgmove col-xs-6 div_2" style="width: 49.7%; padding-top: 29.5%; margin: 0 0 0.3% 0.3%;">
          <%= render 'books/templates/rotate' %>
        </div>
    <% else %>
        <div id="<%= @book.bookpages[@id].id %>, <%= @num %>" class="bgmove col-xs-6 div_2" style="width: 49.7%; padding-top: 29.5%; margin: 0 0 0.3% 0.3%; background: url('<%= @book.bookpages[@id].images[@num-1].ineditor.url %>') <%= @book.bookpages[@id].positions[@num-1] %> / cover  no-repeat;">
          <%= render 'books/templates/rotate' %>
        </div>
    <% end %>
  </div>
  <div class="row">
    <% @num = 3 %>
    <% if @book.bookpages[@id].images[@num-1].blank? %>
        <div id="<%= @book.bookpages[@id].id %>, <%= @num %>" class="bgmove col-xs-6 div_2" style="width: 49.7%; padding-top: 29.5%; margin: 0% 0.3% 0 0;">
          <%= render 'books/templates/rotate' %>
        </div>
    <% else %>
        <div id="<%= @book.bookpages[@id].id %>, <%= @num %>" class="bgmove col-xs-6 div_2" style="width: 49.7%; padding-top: 29.5%; margin: 0% 0.3% 0 0; background: url('<%= @book.bookpages[@id].images[@num-1].ineditor.url %>') <%= @book.bookpages[@id].positions[@num-1] %> / cover  no-repeat;">
          <%= render 'books/templates/rotate' %>
        </div>
    <% end %>
    <% @num = 4 %>
    <% if @book.bookpages[@id].images[@num-1].blank? %>
        <div id="<%= @book.bookpages[@id].id %>, <%= @num %>" class="bgmove col-xs-6 div_2" style="width: 49.7%; padding-top: 29.5%; margin: 0% 0 0 0.3%;">
          <%= render 'books/templates/rotate' %>
        </div>
    <% else %>
        <div id="<%= @book.bookpages[@id].id %>, <%= @num %>" class="bgmove col-xs-6 div_2" style="width: 49.7%; padding-top: 29.5%; margin: 0% 0 0 0.3%; background: url('<%= @book.bookpages[@id].images[@num-1].ineditor.url %>') <%= @book.bookpages[@id].positions[@num-1] %> / cover  no-repeat;">
          <%= render 'books/templates/rotate' %>
        </div>
    <% end %>
  </div>
</div>