<div class="container" style="width: 200.1%; margin: 0;">
  <div class="row">
    <div class="col-xs-3">
      <div class="row">
        <% if @book.bookpages[@id].images[0].blank? %>
            <div id="<%= @book.bookpages[@id].id %>, 1" class="col-xs-12 div_2"
                 style="width: 90%; padding-top: 62%; margin: 4.25% 5% 1% 5%;">
            </div>
        <% else %>
            <div id="<%= @book.bookpages[@id].id %>, 1" class="col-xs-12 div_2"
                 style="width: 90%; padding-top: 62%; margin: 4.25% 5% 1% 5%; background: url('<%= @book.bookpages[@id].images[0].url %>') no-repeat center; background-size: cover;">
            </div>
        <% end %>
      </div>
      <div class="row">
        <% if @book.bookpages[@id].images[0].blank? %>
            <div id="<%= @book.bookpages[@id].id %>, 2" class="col-xs-12 div_2"
                 style="width: 90%; padding-top: 62%; margin: 1% 5% 1% 5%;">
            </div>
        <% else %>
            <div id="<%= @book.bookpages[@id].id %>, 2" class="col-xs-12 div_2"
                 style="width: 90%; padding-top: 62%; margin: 1% 5% 1% 5%; background: url('<%= @book.bookpages[@id].images[1].url %>') no-repeat center; background-size: cover;">
            </div>
        <% end %>
      </div>
      <div class="row">
        <% if @book.bookpages[@id].images[0].blank? %>
            <div id="<%= @book.bookpages[@id].id %>, 3" class="col-xs-12 div_2"
                 style="width: 90%; padding-top: 62%; margin: 1% 5% 4.25% 5%;"></div>
        <% else %>
            <div id="<%= @book.bookpages[@id].id %>, 3" class="col-xs-12 div_2"
                 style="width: 90%; padding-top: 62%; margin: 1% 5% 4.25% 5%; background: url('<%= @book.bookpages[@id].images[2].url %>') no-repeat center; background-size: cover;">
            </div>
        <% end %>
      </div>
    </div>
    <% if @book.bookpages[@id].images[1].blank? %>
        <div id="<%= @book.bookpages[@id].id %>, 4" class="col-xs-9 div_2"
             style="width: 75%; padding-top: 49.75%; margin: 0 0 0 0;">
        </div>
    <% else %>
        <div id="<%= @book.bookpages[@id].id %>, 4" class="col-xs-9 div_2"
             style="width: 75%; padding-top: 49.75%; margin: 0 0 0 0; background: url('<%= @book.bookpages[@id].images[3].url %>') no-repeat center; background-size: cover;">
        </div>
    <% end %>
  </div>
</div>