<div class="container" style="width: 80%; margin: 10% 10%;">
  <div class="row">
    <% if @book.bookpages[@id].images[0].blank? %>
        <div id="<%= @book.bookpages[@id].id %>, 1" class="col-xs-6 col-sm-4 div_2"
             style="width: 33%; padding-top: 33%; margin: 0 0.25% 0.25% 0;">
        </div>
    <% else %>
        <% @num = 1 %>
        <div id="<%= @book.bookpages[@id].id %>, <%= @num %>" class="bgmove col-xs-6 col-sm-4 div_2"
             style="width: 33%; padding-top: 33%; margin: 0 0.25% 0.25% 0; background: url('<%= @book.bookpages[@id].images[@num-1].url %>') <%= @book.bookpages[@id].positions[@num-1] %> / cover  no-repeat;">
          <%= render 'books/templates/rotate' %>
        </div>
    <% end %>
    <% if @book.bookpages[@id].images[1].blank? %>
        <div id="<%= @book.bookpages[@id].id %>, 2" class="col-xs-6 col-sm-4 div_2"
             style="width: 33%; padding-top: 33%; margin: 0 0.25% 0.25% 0.25%;">
        </div>
    <% else %>
        <% @num = 2 %>
        <div id="<%= @book.bookpages[@id].id %>, <%= @num %>" class="bgmove col-xs-6 col-sm-4 div_2"
             style="width: 33%; padding-top: 33%; margin: 0 0.25% 0.25% 0.25%; background: url('<%= @book.bookpages[@id].images[@num-1].url %>') <%= @book.bookpages[@id].positions[@num-1] %> / cover  no-repeat;">
          <%= render 'books/templates/rotate' %>
        </div>
    <% end %>
    <% if @book.bookpages[@id].images[2].blank? %>
        <div id="<%= @book.bookpages[@id].id %>, 3" class="col-xs-6 col-sm-4 div_2"
             style="width: 33%; padding-top: 33%; margin: 0 0 0.25% 0.25%;">
        </div>
    <% else %>
        <% @num = 3 %>
        <div id="<%= @book.bookpages[@id].id %>, <%= @num %>" class="bgmove col-xs-4 div_2"
             style="width: 33%; padding-top: 33%; margin: 0 0 0.25% 0.25%; background: url('<%= @book.bookpages[@id].images[@num-1].url %>') <%= @book.bookpages[@id].positions[@num-1] %> / cover  no-repeat;">
          <%= render 'books/templates/rotate' %>
        </div>
    <% end %>
  </div>
  <div class="row">
    <% if @book.bookpages[@id].images[3].blank? %>
        <div id="<%= @book.bookpages[@id].id %>, 4" class="col-xs-6 col-sm-4 div_2"
             style="width: 33%; padding-top: 33%; margin: 0.25% 0.25% 0.25% 0;">
        </div>
    <% else %>
        <% @num = 4 %>
        <div id="<%= @book.bookpages[@id].id %>, <%= @num %>" class="bgmove col-xs-6 col-sm-4 div_2"
             style="width: 33%; padding-top: 33%; margin: 0.25% 0.25% 0.25% 0; background: url('<%= @book.bookpages[@id].images[@num-1].url %>') <%= @book.bookpages[@id].positions[@num-1] %> / cover  no-repeat;">
          <%= render 'books/templates/rotate' %>
        </div>
    <% end %>
    <% if @book.bookpages[@id].images[4].blank? %>
        <div id="<%= @book.bookpages[@id].id %>, 5" class="col-xs-6 col-sm-4 div_2"
             style="width: 33%; padding-top: 33%; margin: 0.25% 0.25% 0.25% 0.25%;">
        </div>
    <% else %>
        <% @num = 5 %>
        <div id="<%= @book.bookpages[@id].id %>, <%= @num %>" class="bgmove col-xs-6 col-sm-4 div_2"
             style="width: 33%; padding-top: 33%; margin: 0.25% 0.25% 0.25% 0.25%; background: url('<%= @book.bookpages[@id].images[@num-1].url %>') <%= @book.bookpages[@id].positions[@num-1] %> / cover  no-repeat;">
          <%= render 'books/templates/rotate' %>
        </div>
    <% end %>
    <% if @book.bookpages[@id].images[5].blank? %>
        <div id="<%= @book.bookpages[@id].id %>, 6" class="col-xs-6 col-sm-4 div_2"
             style="width: 33%; padding-top: 33%; margin: 0.25% 0 0.25% 0.25%;"></div>
    <% else %>
        <% @num = 6 %>
        <div id="<%= @book.bookpages[@id].id %>, <%= @num %>" class="bgmove col-xs-4 div_2"
             style="width: 33%; padding-top: 33%; margin: 0.25% 0 0.25% 0.25%; background: url('<%= @book.bookpages[@id].images[@num-1].url %>') <%= @book.bookpages[@id].positions[@num-1] %> / cover  no-repeat;">
          <%= render 'books/templates/rotate' %>
        </div>
    <% end %>
  </div>
  <div class="row">
    <% if @book.bookpages[@id].images[6].blank? %>
        <div id="<%= @book.bookpages[@id].id %>, 7" class="col-xs-6 col-sm-4 div_2"
             style="width: 33%; padding-top: 33%; margin: 0.25% 0.25% 0 0;"></div>
    <% else %>
        <% @num = 7 %>
        <div id="<%= @book.bookpages[@id].id %>, <%= @num %>" class="bgmove col-xs-6 col-sm-4 div_2"
             style="width: 33%; padding-top: 33%; margin: 0.25% 0.25% 0 0; background: url('<%= @book.bookpages[@id].images[@num-1].url %>') <%= @book.bookpages[@id].positions[@num-1] %> / cover  no-repeat;">
          <%= render 'books/templates/rotate' %>
        </div>
    <% end %>
    <% if @book.bookpages[@id].images[7].blank? %>
        <div id="<%= @book.bookpages[@id].id %>, 8" class="col-xs-6 col-sm-4 div_2"
             style="width: 33%; padding-top: 33%; margin: 0.25% 0.25% 0 0.25%;">
        </div>
    <% else %>
        <% @num = 8 %>
        <div id="<%= @book.bookpages[@id].id %>, <%= @num %>" class="bgmove col-xs-6 col-sm-4 div_2"
             style="width: 33%; padding-top: 33%; margin: 0.25% 0.25% 0 0.25%; background: url('<%= @book.bookpages[@id].images[@num-1].url %>') <%= @book.bookpages[@id].positions[@num-1] %> / cover  no-repeat;">
          <%= render 'books/templates/rotate' %>
        </div>
    <% end %>
    <% if @book.bookpages[@id].images[8].blank? %>
        <div id="<%= @book.bookpages[@id].id %>, 9" class="col-xs-6 col-sm-4 div_2"
             style="width: 33%; padding-top: 33%; margin: 0.25% 0 0 0.25%;">
        </div>
    <% else %>
        <% @num = 9 %>
        <div id="<%= @book.bookpages[@id].id %>, <%= @num %>" class="bgmove col-xs-4 div_2"
             style="width: 33%; padding-top: 33%; margin: 0.25% 0 0 0.25%; background: url('<%= @book.bookpages[@id].images[@num-1].url %>') <%= @book.bookpages[@id].positions[@num-1] %> / cover  no-repeat;">
          <%= render 'books/templates/rotate' %>
        </div>
    <% end %>
  </div>
</div>