<% @num = 1 %>
<% if @book.bookpages[@id].images.blank? %>
    <div id="<%= @book.bookpages[@id].id %>, <%= @num %>" class="bgmove div_2" style="width: 80%; height: 80%; margin: 10%;">
      <%= render 'books/templates/rotate' %>
    </div>
<% else %>
    <div id="<%= @book.bookpages[@id].id %>, <%= @num %>" class="bgmove div_2" style="width: 80%; height: 80%; margin: 10%; background: url('<%= @book.bookpages[@id].images[@num-1].url %>') <%= @book.bookpages[@id].positions[@num-1] %> / cover  no-repeat;">
      <%= render 'books/templates/rotate' %>
    </div>
<% end %>