<div class="container" style="width: 100%; margin: 20% 0;">
  <div class="row">
    <% if @book.bookpages[@id].images[0].blank? %>
        <div id="<%= @book.bookpages[@id].id %>, 1" class="col-xs-6 div_2"
             style="background-size: cover; width: 49.7%; padding-top: 29.5%; margin: 0 0.3% 0.3% 0; background-color: lightgray; border: 1px solid black;"></div>
    <% else %>
        <div id="<%= @book.bookpages[@id].id %>, 1" class="col-xs-6 div_2"
             style="background-size: cover; width: 49.7%; padding-top: 29.5%; margin: 0 0.3% 0.3% 0; background: url('<%= @book.bookpages[@id].images[0].url %>') no-repeat center; background-size: cover; border: 1px solid black;"></div>
    <% end %>
    <% if @book.bookpages[@id].images[1].blank? %>
        <div id="<%= @book.bookpages[@id].id %>, 2" class="col-xs-6 div_2"
             style="background-size: cover; width: 49.7%; padding-top: 29.5%; margin: 0 0 0.3% 0.3%; background-color: lightgray; border: 1px solid black;"></div>
    <% else %>
        <div id="<%= @book.bookpages[@id].id %>, 2" class="col-xs-6 div_2"
             style="width: 49.7%; padding-top: 29.5%; margin: 0 0 0.3% 0.3%; background: url('<%= @book.bookpages[@id].images[1].url %>') no-repeat center; background-size: cover; border: 1px solid black;"></div>
    <% end %>
  </div>
  <div class="row">
    <% if @book.bookpages[@id].images[2].blank? %>
        <div id="<%= @book.bookpages[@id].id %>, 3" class="col-xs-6 div_2"
             style="background-size: cover; width: 49.7%; padding-top: 29.5%; margin: 0.3% 0.3% 0 0; background-color: lightgray; border: 1px solid black;"></div>
    <% else %>
        <div id="<%= @book.bookpages[@id].id %>, 3" class="col-xs-6 div_2"
             style="background-size: cover; width: 49.7%; padding-top: 29.5%; margin: 0.3% 0.3% 0 0; background: url('<%= @book.bookpages[@id].images[2].url %>') no-repeat center; background-size: cover; border: 1px solid black;"></div>
    <% end %>
    <% if @book.bookpages[@id].images[3].blank? %>
        <div id="<%= @book.bookpages[@id].id %>, 4" class="col-xs-6 div_2"
             style="background-size: cover; width: 49.7%; padding-top: 29.5%; margin: 0.3% 0 0 0.3%; background-color: lightgray; border: 1px solid black;"></div>
    <% else %>
        <div id="<%= @book.bookpages[@id].id %>, 4" class="col-xs-6 div_2"
             style="width: 49.7%; padding-top: 29.5%; margin: 0.3% 0 0 0.3%; background: url('<%= @book.bookpages[@id].images[3].url %>') no-repeat center; background-size: cover; border: 1px solid black;"></div>
    <% end %>
  </div>
</div>