<div style="width: 80%; margin: 10% 10%;font-size: 0;">
  <div class="row">
    <%= render partial: "books/templates/frame", locals: {book_page: book_page, num: 0, addclass: "", style: "width: 33%; padding-top: 33%; margin: 0 0.25% 0.25% 0;"} %>
    <%= render partial: "books/templates/frame", locals: {book_page: book_page, num: 1, addclass: "", style: "width: 33%; padding-top: 33%; margin: 0 0.25% 0.25% 0.25%;"} %>
    <%= render partial: "books/templates/frame", locals: {book_page: book_page, num: 2, addclass: "", style: "width: 33%; padding-top: 33%; margin: 0 0 0.25% 0.25%;"} %>
  </div>
  <div class="row">
    <%= render partial: "books/templates/frame", locals: {book_page: book_page, num: 3, addclass: "", style: "width: 33%; padding-top: 33%; margin: 0.25% 0.25% 0.25% 0;"} %>
    <%= render partial: "books/templates/frame", locals: {book_page: book_page, num: 4, addclass: "", style: "width: 33%; padding-top: 33%; margin: 0.25% 0.25% 0.25% 0.25%;"} %>
    <%= render partial: "books/templates/frame", locals: {book_page: book_page, num: 5, addclass: "", style: "width: 33%; padding-top: 33%; margin: 0.25% 0 0.25% 0.25%;"} %>
  </div>
  <div class="row">
    <%= render partial: "books/templates/frame", locals: {book_page: book_page, num: 6, addclass: "", style: "width: 33%; padding-top: 33%; margin: 0.25% 0.25% 0 0;"} %>
    <%= render partial: "books/templates/frame", locals: {book_page: book_page, num: 7, addclass: "", style: "width: 33%; padding-top: 33%; margin: 0.25% 0.25% 0 0.25%;"} %>
    <%= render partial: "books/templates/frame", locals: {book_page: book_page, num: 8, addclass: "", style: "width: 33%; padding-top: 33%; margin: 0.25% 0 0 0.25%;"} %>
  </div>
</div>