<div class="container" style="width: 80%; margin: 10% 10%;">
  <div class="row">
    <%= render partial: "books/templates/frame", locals: {num: 0, addclass: "col-xs-6", style: "width: 33%; padding-top: 33%; margin: 0 0.25% 0.25% 0;"} %>
    <%= render partial: "books/templates/frame", locals: {num: 1, addclass: "col-xs-6", style: "width: 33%; padding-top: 33%; margin: 0 0.25% 0.25% 0.25%;"} %>
    <%= render partial: "books/templates/frame", locals: {num: 2, addclass: "col-xs-6", style: "width: 33%; padding-top: 33%; margin: 0 0 0.25% 0.25%;"} %>
  </div>
  <div class="row">
    <%= render partial: "books/templates/frame", locals: {num: 3, addclass: "col-xs-6", style: "width: 33%; padding-top: 33%; margin: 0.25% 0.25% 0.25% 0;"} %>
    <%= render partial: "books/templates/frame", locals: {num: 4, addclass: "col-xs-6", style: "width: 33%; padding-top: 33%; margin: 0.25% 0.25% 0.25% 0.25%;"} %>
    <%= render partial: "books/templates/frame", locals: {num: 5, addclass: "col-xs-6", style: "width: 33%; padding-top: 33%; margin: 0.25% 0 0.25% 0.25%;"} %>
  </div>
  <div class="row">
    <%= render partial: "books/templates/frame", locals: {num: 6, addclass: "col-xs-6", style: "width: 33%; padding-top: 33%; margin: 0.25% 0.25% 0 0;"} %>
    <%= render partial: "books/templates/frame", locals: {num: 7, addclass: "col-xs-6", style: "width: 33%; padding-top: 33%; margin: 0.25% 0.25% 0 0.25%;"} %>
    <%= render partial: "books/templates/frame", locals: {num: 8, addclass: "col-xs-6", style: "width: 33%; padding-top: 33%; margin: 0.25% 0 0 0.25%;"} %>
  </div>
</div>