<p id="notice"><%= notice %></p>

<p>
  <strong>Format:</strong>
  <%= @bookprice.format %>
</p>

<p>
  <strong>Cover:</strong>
  <%= @bookprice.cover %>
</p>

<p>
  <strong>Page:</strong>
  <%= @bookprice.page %>
</p>

<%= link_to 'Edit', edit_bookprice_path(@bookprice) %> |
<%= link_to 'Back', bookprices_path %>
