<span class="modal_title">ЗАГРУЗКА ФОТОГРАФИЙ</span>
<%= form_for form_for_model, url: url, remote: true, method: :post do |f| %>
  <div id="form_container">
    <div id="file-upload_<%= gallery_type %>" class="file-upload">
      <div class="file-select">
        <div class="file-select-button" id="fileName_<%= gallery_type %>"><b>ВЫБЕРИТЕ ФОТОГРАФИИ</b></div>
        <div class="file-select-name" id="noFile_<%= gallery_type %>"><b>НЕТ ВЫБРАННЫХ ФАЙЛОВ...</b></div>
        <%= f.file_field :images, title: "Выберите фотографии.", id:"chooseFile_#{gallery_type}", multiple: true %>
      </div>
    </div>
    <div>
      <%= f.submit "ЗАГРУЗИТЬ", class: "round_button" %>
    </div>
  </div>
<% end %>
<div id="progress_<%= gallery_type %>" class="progress">
  <div class="bar" style=""></div>
  <div class="percent">0%</div>
</div>
<div id="loading_<%= gallery_type %>" class="loading">
  <span>
    <i class="fa fa-refresh fa-spin fa-fw"></i>&nbsp;
    ПОДГОТОВКА ФОТОГРАФИЙ...<br>(может занять несколько минут)
  </span><br><br>
  <span>После подготовки фотографий,<br> страница будет обновлена автоматически...</span>
</div>
<div id="status"></div>
<button id="exit_modal_<%= gallery_type %>" class="round_button">ОТМЕНИТЬ</button>
<%= javascript_include_tag('modal.js') %>