<%# add navigation links to this file %>
<li><%= link_to 'О НАС', about_us_page_path %></li>
<li><%= link_to 'КАК ЗАКАЗАТЬ', how_to_order_page_path %></li>
<li><%= link_to 'ВОПРОСЫ', faq_page_path %></li>
<li><%= link_to 'ДОСТАВКА', delivery_page_path %></li>
<li><%= link_to 'ПРЕИМУЩЕСТВА', advantages_page_path %></li>
<li><% link_to 'НАМ ДОВЕРЯЮТ', trust_us_page_path %></li>
<li><% link_to 'АКЦИИ', events_page_path %></li>
