<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= content_for?(:title) ? yield(:title) : 'GudvinFoto' %></title>
    <meta name="description" content="<%= content_for?(:description) ? yield(:description) : 'GudvinFoto' %>">

    <%= csrf_meta_tags %>
    <style>
      body {
        background: url(<%= Phgallery.find_by_kind('background').images.first %>) center;
        -webkit-background-size: cover;
        background-size: cover;
      }
    </style>
  </head>
  <body>
    <div class="container">
      <header>
        <%= render 'layouts/navigation' %>
      </header>
      <main>
        <%= yield %>
      </main>
      <footer>
        <%= render 'layouts/footer_navigation' %>
      </footer>
    </div>
    <%= stylesheet_link_tag 'application', params[:controller], media: 'all' %>
    <%= javascript_include_tag 'application', params[:controller] %>
  </body>
</html>